button {
  background-size: cover;
  width: 100%;
  padding-top: 60%;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  background-image: var(--word-picture-url);
  position: relative;
}

button:disabled {
  cursor: default;
}

span {
  background: #fff;
  padding: 2px 3px;
  line-height: 18px;
  font-size: 18px;
  display: inline-block;
}

.selected {
  box-shadow: 0 0 5px 1px #2b6cb0;
}

.correctness-indicator {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  background: #fff;
  border-radius: 50%;
}

.correctness-indicator.right {
  color: #46cb18;
}

.correctness-indicator.wrong {
  color: #ff0100;
}
