<button
  data-test-task-answer
  data-test-task-answer-option={{@word}}
  onclick={{@clickAction}}
  class="bg-transparent py-2 px-4 border border-blue-500 rounded text-blue-700"
  style="background-image: url({{this.pictureFileUrl}});"
>
  <span>
    {{@word}}
  </span>
</button>