<div class="header">
  <mat-toolbar>
    <a routerLinkActive="active" routerLink="/" class="logo">
      <img src="assets/logo.svg" />
    </a>

    <div class="links">
      <a
        routerLinkActive="active"
        *ngFor="let tab of mainTabs"
        mat-flat-button
        class="link"
        [routerLink]="[tab.link]"
      >
        {{ tab.label | translate }}
      </a>
    </div>

    <a
      routerLinkActive="active"
      mat-flat-button
      class="link"
      [routerLink]="'/profile'"
    >
      <div class="admin">
        <div class="avatar">{{ adminName?.user.displayName | shortName }}</div>
        <div class="name">{{ adminName?.user.displayName }}</div>
      </div>
    </a>

    <div class="logout">
      <button mat-button (click)="logout()">
        <mat-icon svgIcon="logout"></mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
