<div class="header">
  <mat-toolbar>
    <a routerLinkActive="active" routerLink="/" class="logo">
      <img src="assets/logo.svg" />
    </a>

    <div class="links">
      <a routerLinkActive="active" *ngFor="let tab of mainTabs" mat-flat-button class="link" [routerLink]="[tab.link]">
        {{ tab.label | translate }}
      </a>
    </div>

    <div class="user">
      <div class="icon">AB</div>

      <div class="label">Александра Василевская</div>
    </div>
  </mat-toolbar>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
