@import 'colors';
@import 'variables';

$header-height: 120px;
$header-bottom-border: 4px;
$user-width: 196px;
$user-icon-size: 44px;
$user-right-margin: 80px;

.header {
  height: $header-height;

  mat-toolbar {
    height: calc(#{$header-height} - #{$header-bottom-border});
    width: 100%;
    padding: 0 $header-horizontal-padding;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0 2px $header-bottom-border rgba(89, 71, 178, 0.15);

    * {
      font-size: 16px;
      font-weight: 500;
    }

    .links {
      flex-grow: 1;
      display: flex;
      justify-content: space-around;
      max-width: 900px;
    }

    .link {
      color: $charcoal-grey-color;
      text-transform: uppercase;

      &.active {
        color: $dark-violet-color;
      }
    }

    .user {
      flex-grow: 1;
      height: 46px;
      display: flex;
      justify-content: flex-end;

      > div {
        display: inline-block;
      }

      .icon {
        width: $user-icon-size;
        height: $user-icon-size;
        background: $latter-grey-color;
        border-radius: $user-icon-size;
        margin-right: 16px;
        font-weight: 600;
        line-height: $user-icon-size;
        text-align: center;
        float: left;
      }

      .label {
        width: 130px;
        font-weight: 400;
        white-space: normal;
        line-height: 22px;
      }
    }
  }
}

.content {
  padding: 35px 65px;
}
