<article class="admin">
  <header>
    <mat-toolbar class="admin__header">
      <a [routerLink]="['/']" class="logo">
        <img src="assets/logo.svg" alt="Logo">
      </a>
      <div class="links">
        <a *ngFor="let tab of mainTabs"
           mat-flat-button class="link"
           [routerLink]="[tab.link]">{{tab.label}}
        </a>
      </div>
      <div class="user">
        <!-- TODO: use a real user data -->
        <div class="icon">AB</div>
        <div class="label">Александра Василевская</div>
      </div>
    </mat-toolbar>
  </header>
  <section class="admin__content">
    <router-outlet></router-outlet>
  </section>
</article>
