<article class="admin">
  <header>
    <mat-toolbar class="admin__header">
      <img src="assets/logo.svg" alt="Logo" [routerLink]="['/']">
      <div class="links">
        <a mat-flat-button [routerLink]="['students']" class="link">Students</a>
        <a mat-flat-button [routerLink]="['exercises']" class="link">Exercises</a>
        <a mat-flat-button [routerLink]="['resources']" class="link">Resources</a>
        <a mat-flat-button [routerLink]="['upload']" class="link">Upload file</a>
      </div>
      <div class="user">
<!--        TODO: use a real user data-->
        <div class="icon">AB</div>
        <div class="label">Александра Василевская</div>
      </div>
    </mat-toolbar>
  </header>
  <section class="admin__content">
    <router-outlet></router-outlet>
  </section>
</article>
