<div mat-dialog-title>
  <h1>{{ 'Admin.Modules.Users.Modules.Statistics.Components.StatisticsInfoDialog.Title' | translate }}</h1>

  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <p class="title">{{ 'Admin.Modules.Users.Modules.Statistics.Components.StatisticsInfoDialog.ContentTitle' | translate }}:</p>

  <img class="statistics-info-dialog" src="assets/statistics-info-dialog.svg" />

  <p class="text" [innerHTML]="'Admin.Modules.Users.Modules.Statistics.Components.StatisticsInfoDialog.Text' | translate"></p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    {{ 'Admin.Modules.Users.Modules.Statistics.Components.StatisticsInfoDialog.Buttons.Ok' | translate }}
  </button>
</mat-dialog-actions>
