@import 'colors.scss';

:host {
  display: block;
  padding: 0 0 20px 0;

  div[mat-dialog-title] {
    display: flex;
    justify-content: space-between;

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      color: $dark-violet-color;
    }
  }

  mat-dialog-content {
    margin-bottom: 10px;

    img.statistics-info-dialog {
      width: 100%;
    }

    p {
      font-style: normal;
      font-weight: normal;
      line-height: 24px;

      &.title {
        margin-bottom: 24px;
        font-size: 18px;
        text-align: left;
      }

      &.text {
        font-size: 14px;
        text-align: justify;
        padding: 16px;
        background-color: $hardly-grey-color;
        border-radius: 8px;
      }
    }
  }

  mat-dialog-actions {
    justify-content: center;

    button[mat-dialog-close] {
      border: 1px solid $cold-violet-color;
      box-sizing: border-box;
      box-shadow: 0px 4px 16px #5947b240;
      border-radius: 16px;
      background: $brain-gradient;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}
