<div class="calendar" [style.backgroundColor]="LEVEL_COLOR[data.level]">
  <div class="header">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>

  <div class="content">
    <div class="total-time">{{ data.totalTime }}</div>

    <div class="text">
      за <span>{{ data.daysNumber }}</span> дней
    </div>
  </div>
</div>

<div class="month-name" [class.current]="data.isCurrentMonth">{{ data.monthName }}</div>

<div class="year-number" *ngIf="data.isShowYearNumber">{{ data.yearNumber }}</div>
