<div class="calendar" [style.backgroundColor]="USER_EXERCISING_PROGRESS_STATUS_COLOR[data.progress]">
  <div class="header">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>

  <div class="content">
    <b class="time">{{ data.time }}</b>

    <br />

    <span
      [innerHTML]="
        'Admin.Modules.Statistics.Components.MonthTimeTrackItem.Days [days]' | translate: { days: data.days }
      "
    ></span>
  </div>
</div>

<div class="month">{{ data.month }}</div>

<div class="year">{{ data.year }}</div>
