{{#if (eq this.target.currentRouteName "group.series.exercise.task")}}
  <div class="flex items-center mb-2 justify-between">
    <div>
      <FaIcon @icon="chevron-left" />
      <LinkTo @route="group.series" @model={{this.model.series}}>
        Назад
      </LinkTo>
    </div>
    <Timer @paused={{true}} />
  </div>
{{/if}}

<div class="exercise-container">
  {{#if (not this.model.hideExerciseNavigation)}}
    <ExerciseNavigation
      class="exercise-navigation"
      @tasks={{this.model.sortedTasks}}
    />
  {{/if}}
  {{outlet}}
</div>