<div class="skeleton-page mx-auto mb-10">
  <div class="max-w-none mx-auto">
    <div class="sm:rounded-lg pb-4 overflow-hidden">
      <div class="pl-4 mb-2">
        <Skeleton::Line @class="w-40 h-5" />
      </div>
      <div class="sm:grid-cols-4 md:grid-cols-5 gap-y-2 sm:gap-y-3 grid justify-center grid-cols-3 mx-2 ml-0">
        {{! template-lint-disable no-unused-block-params }}
        {{#each (array 1 2 3 4 5 6 7 8 9 10) as |_|}}
          <div class="flex">
            <div class="skeleton-exercise-btn flex items-center justify-center mt-2 ml-2 mr-2">
              <Skeleton::Line @class="w-12 h-10" />
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<div class="mx-auto mb-10">
  <div class="max-w-none mx-auto">
    <div class="sm:rounded-lg pb-4 overflow-hidden">
      <div class="pl-4 mb-2">
        <Skeleton::Line @class="w-48 h-5" />
      </div>
      <div class="sm:grid-cols-4 md:grid-cols-5 gap-y-2 sm:gap-y-3 grid justify-center grid-cols-3 mx-2 ml-0">
        {{! template-lint-disable no-unused-block-params }}
        {{#each (array 1 2 3 4 5) as |_|}}
          <div class="flex">
            <div class="skeleton-exercise-btn flex items-center justify-center mt-2 ml-2 mr-2">
              <Skeleton::Line @class="w-12 h-10" />
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>