version: '3.3'
services:
  db_brn:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: brn
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
  brn:
    container_name: brn
    command: java -jar epam-brn.jar
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8081:8081
    environment:
      POSTGRES_DB: brn
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      SPRING_PROFILE: prod
  brn_fe:
    container_name: brn_fe
    build:
      context: .
      dockerfile: Dockerfile_frontend
    ports:
      - 80:80
