:host {
  section {
    .container {
      max-width: 500px;
      margin: 250px auto 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;

        button[type='submit'] {
          padding: 10px 30px;
          align-self: flex-end;
        }
      }
    }
  }
}
