<section>
  <div class="container">
    <h1>{{ 'Auth.Modules.Login.Title' | translate }}</h1>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">{{ 'Auth.Modules.Login.Labels.UserName' | translate }}</label>

        <input class="form-control" formControlName="username" id="username" />
      </div>

      <div class="form-group">
        <label for="password"> {{ 'Auth.Modules.Login.Labels.Password' | translate }} </label>

        <input type="password" class="form-control" formControlName="password" id="password" />
      </div>

      <button type="submit" [disabled]="loginForm.invalid">
        {{ 'Auth.Modules.Login.Buttons.Login' | translate }}
      </button>
    </form>
  </div>
</section>
