<div class="user">
  <h4 class="profile-name">Name</h4>
  <div class="profile-data">
    <p>Birthday</p>
    <p>email</p>
  </div>
</div>

<div class="control-panel">
  <button
    class="statistics-info-dialog"
    mat-button
    (click)="openStatisticsInfoDialog()"
  >
    <mat-icon aria-label="help" svgIcon="help"></mat-icon>

    <span>{{
      'Admin.Modules.Users.Modules.Statistics.Buttons.WhatIsIt' | translate
    }}</span>
  </button>
</div>

<mat-tab-group class="content" mat-align-tabs="end">
  <mat-tab
    label="{{
      'Admin.Modules.Users.Modules.Statistics.Buttons.Statistics' | translate
    }}"
  >
    <app-month-time-track
      [isLoading]="isLoadingMonthTimeTrackData"
      [selectedMonth]="selectedMonth"
      [data]="monthTimeTrackData"
      (selectMonthEvent)="selectMonth($event)"
      (loadPrevYearEvent)="loadPrevYear()"
      (loadNextYearEvent)="loadNextYear()"
    ></app-month-time-track>

    <app-week-time-track
      [isLoading]="isLoadingWeekTimeTrackData"
      [selectedMonth]="selectedMonth"
      [data]="weekTimeTrackData"
      (loadPrevMonthEvent)="loadPrevMonth()"
      (loadNextMonthEvent)="loadNextMonth()"
    ></app-week-time-track>
  </mat-tab>
  <mat-tab
    label="{{
      'Admin.Modules.Users.Modules.Statistics.Buttons.Diagnostics' | translate
    }}"
  >
    <app-diagnostics-track
      [isLoading]="isLoadingWeekTimeTrackData"
      [selectedMonth]="selectedMonth"
    ></app-diagnostics-track>
  </mat-tab>
  <mat-tab disabled>
    <ng-template mat-tab-label>
      <div
        class="export-profile"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        (click)="$event.stopPropagation()"
      >
        <mat-icon svgIcon="file-download"></mat-icon>
        <span>
          {{
            'Admin.Modules.Users.Modules.Statistics.Buttons.ExportProfile'
              | translate
          }}
        </span>
        <mat-icon svgIcon="expand-more"></mat-icon>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          {{
            'Admin.Modules.Users.Modules.Statistics.Buttons.ExportToJson'
              | translate
          }}
        </button>
        <button mat-menu-item>
          {{
            'Admin.Modules.Users.Modules.Statistics.Buttons.ExportToCsv'
              | translate
          }}
        </button>
      </mat-menu>
    </ng-template>
  </mat-tab>
</mat-tab-group>
