<div class="user-info" *ngIf="userData">
  <div class="inline">
    <h3 class="profile-name">{{userData.name}}</h3>

    <button
      mat-button
      class="back-to-users"
      routerLinkActive="active"
      [routerLink]="[HOME_PAGE_URL]"
      title="{{
        'Admin.Modules.Users.Modules.Statistics.Buttons.Back' | translate
      }}"
    >
      <mat-icon svgIcon="arrow-back"></mat-icon>
    </button>
  </div>
  <div class="profile-data">
    <p>{{userData.name}}</p>
    <p>{{userData.email}}</p>
  </div>
</div>

<div class="control-panel">
  <button
    class="statistics-info-dialog"
    mat-button
    (click)="openStatisticsInfoDialog()"
  >
    <mat-icon svgIcon="help"></mat-icon>

    <span>{{
      'Admin.Modules.Users.Modules.Statistics.Buttons.WhatIsIt' | translate
    }}</span>
  </button>
</div>

<app-month-time-track
  [isLoading]="isLoadingMonthTimeTrackData"
  [selectedMonth]="selectedMonth"
  [data]="monthTimeTrackData"
  (selectMonthEvent)="selectMonth($event)"
  (loadPrevYearEvent)="loadPrevYear()"
  (loadNextYearEvent)="loadNextYear()"
></app-month-time-track>

<app-week-time-track
  [isLoading]="isLoadingWeekTimeTrackData"
  [selectedMonth]="selectedMonth"
  [data]="weekTimeTrackData"
></app-week-time-track>
