@import 'colors.scss';
@import 'variables.scss';

.user-info {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  position: absolute;

  .profile-data {
    display: flex;
    align-items: flex-start;

    .user-data {
      z-index: 2;
    }

    .profile-name {
      margin-top: $margin-8;
    }
  }
}

.about-dialog {
  display: flex;
  justify-content: flex-end;

  .statistics-info-dialog {
    padding: $padding-6 $padding-16;
    border: 1px solid $dialog-border-grey;
    box-shadow: 0px 4px 16px $hardly-grey-color;
    border-radius: $border-radius-16;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-12;
    line-height: $font-size-16;
    text-transform: uppercase;

    mat-icon {
      margin-right: 10px;
      color: $cold-violet-color;
    }

    span {
      color: $dark-violet-color;
    }
  }
}

.content {
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  ::ng-deep .mat-tab-label {
    font-size: $font-size-16;
  }

  ::ng-deep .mat-mdc-tab-body {
    padding-top: $padding-48;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  ::ng-deep .mat-tab-labels {
    padding: $padding-16 0;
  }

  ::ng-deep .mat-ink-bar {
    background-color: $dark-violet-color;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  ::ng-deep .mat-tab-label-active {
    color: $dark-violet-color;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  ::ng-deep .mat-tab-disabled {
    color: inherit;
  }

  .export-profile {
    align-items: center;
    cursor: pointer;
    display: flex;
    line-height: $font-size-24;

    span {
      margin: 0 $margin-8;
    }
  }
}
