<div class="title">
  {{ 'Admin.Modules.Statistics.Components.MonthTimeTrack.Title [year]' | translate: { year: currentYear } }}
</div>

<div class="content">
  <button mat-button class="prev" (click)="loadPrevYear()">
    <mat-icon svgIcon="left-arrow"></mat-icon>
  </button>

  <div
    *ngIf="monthTimeTrackItemsData?.length; else emptyMonthTimeTrackItemsDataTemplate"
    class="month-time-track-items-wrap"
  >
    <app-month-time-track-item
      *ngFor="let data of monthTimeTrackItemsData"
      [data]="data"
      (click)="selectMonth(data.date)"
    ></app-month-time-track-item>
  </div>

  <button mat-button class="next" (click)="loadNextYear()">
    <mat-icon svgIcon="right-arrow"></mat-icon>
  </button>
</div>

<!-- #region Templates -->
<ng-template #emptyMonthTimeTrackItemsDataTemplate>
  <div class="empty-data">
    {{ 'Admin.Modules.Statistics.Components.MonthTimeTrack.EmptyData' | translate }}
  </div>
</ng-template>
<!-- #endregion -->
