@import '../../../../../../styles/colors.scss';

:host {
  .title,
  .content .empty-data {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: $active-grey-color;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 104px;

    .month-time-track-items-wrap {
      display: flex;

      :not(:last-child) {
        margin-right: 24px;
      }
    }

    button.prev,
    button.next {
      min-width: unset;
      width: 48px;
      height: 48px;
      border-radius: 16px;
      background: $brain-gradient;
      box-shadow: 0px 4px 16px #5947b240;
      border: 1px solid #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;

      mat-icon {
        color: #ffffff;
      }
    }
  }
}
