<a  href={{href-to "group.series.subgroup" @group.id}} class="hover:shadow-outline w-1/4 m-2 overflow-hidden border-2 border-gray-200 rounded-lg shadow-lg">
    {{!-- template-lint-disable no-inline-styles style-concatenation --}}
    <div
      style={{html-safe (concat 'height:140px;background-image: url(' @group.picture ');')}} class="w-full bg-center bg-no-repeat bg-contain"
    ></div>
      <div class="px-2 py-2 mt-1 bg-gray-200">
        <div class="text-center"> {{@group.name}}</div>
      </div>
</a>