/*! purgecss start ignore */

footer {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}

a[rel='noopener'] {
  display: block;
  max-height: 100%;
  max-width: 70px;
  overflow: hidden;
}


.items-center li {
  margin: 3px;
  padding: 2px;
  border: 1px solid #fff;
  border-radius: 10px;
}


.items-center li:hover {
  border: 1px solid #f3f3f5;
}

a img {
  object-fit: contain;
  height: 48px;
}
/*! purgecss end ignore */
