<div class={{style-namespace "footer"}} ...attributes>
  <footer class="relative z-10 p-4 text-white">
    <span data-test-support-message class="mr-2 text-blue-900 opacity-50">
      {{t "footer.info_about"}}
    </span>
    <ul class="flex items-center">
      <li data-test-support-logo>
        <a href="https://www.jetbrains.com/" target="blank" rel="noopener">
          <img src="/logos/jetbrains-variant-4.png" alt="JetBrains" />
        </a>
      </li>
      <li data-test-support-logo>
        <a href="https://selectel.ru/" target="blank" rel="noopener">
          <img src="/logos/selectel.png" alt="Selectel" />
        </a>
      </li>
      <li class="ml-1 mr-1 text-blue-900 opacity-50">
        {{t "footer.info_about_helper"}}
      </li>
      <li data-test-support-logo class="realtive mt-1">
        <a href="https://epam.com/" target="blank" rel="noopener">
          <img src="/logos/epam.png" alt="EPAM" />
        </a>
      </li>
    </ul>
  </footer>
</div>