  <footer class="{{style-namespace "footer"}} relative z-10 p-4 text-white" ...attributes>
    <div class="flex flex justify-end">
      <div class="mr-40">
        <a href="mailto:brainupproject@yandex.ru?subject=BrainUp" title="brainupproject@yandex.ru" class="leading-10 text-blue-900 underline">{{t "footer.contact_us"}}</a>
      </div>
      <div class="ml-40 mr-4">
        <span data-test-support-message class="mr-2 leading-10 text-blue-900 opacity-50">
          {{t "footer.info_about"}}
        </span>
      </div>
      <div>
        <ul class="flex items-center">
          <li data-test-support-logo>
            <a href="https://www.jetbrains.com/" target="blank" rel="noopener">
              <img src="/logos/jetbrains-variant-4_.png" alt="JetBrains" />
            </a>
          </li>
          <li data-test-support-logo>
            <a href="https://selectel.ru/" target="blank" rel="noopener">
              <img src="/logos/selectel.png" alt="Selectel" />
            </a>
          </li>
          <li class="ml-1 mr-1 leading-10 text-blue-900 opacity-50">
            {{t "footer.info_about_helper"}}
          </li>
          <li data-test-support-logo class="realtive mt-1">
            <a href="https://epam.com/" target="blank" rel="noopener">
              <img src="/logos/epam.png" alt="EPAM" />
            </a>
          </li>
        </ul>
      </div>
  </div>

</footer>