<footer class="bg-teal-700 p-4 mt-4">
  <span class="support-title text-white opacity-50">
    При поддержке
  </span>
  <ul>
    <li>
      <a href="https://selectel.ru/" target="blank">
        <img src="/logos/selectel_logo.png" alt="" />
      </a>
    </li>
  </ul>
</footer>