<footer class="bg-teal-700 p-4 mt-4 text-white">
  <span data-test-support-message class="mr-2 opacity-50">
    При поддержке
  </span>
  <ul class="flex items-center">
    <li data-test-support-logo>
      <a href="https://selectel.ru/" target="blank">
        <img src="/logos/selectel.png" alt="Selectel" />
      </a>
    </li>
    <li class="opacity-50 mr-1 ml-1">
      и
    </li>
    <li data-test-support-logo class="realtive mt-1">
      <a href="https://epam.com/" target="blank">
        <img src="/logos/epam.png" alt="EPAM" />
      </a>
    </li>
  </ul>
</footer>