:host {
  display: flex;
  justify-content: center;

  .upload-file {
    margin-top: 50px;
    width: 350px;

    &__form-group {
      margin-bottom: 20px;
    }

    &__form-control {
      width: 100%;
      height: 30px;
    }
  }
}
