{{#if (not (eq this.target.currentRouteName "group.series.exercise.task"))}}

{{/if}}
<div class="series-page--canvas flex flex-col flex-grow">
    <SeriesNavigation @exercises={{@model.exercises}} />
</div>
{{outlet}}