<li class="mr-3">
  {{#let (hash 
    active="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white"
    enabled="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3"
    disabled="inline-block py-1 px-3 text-gray-400 cursor-not-allowed"
  ) as |modClass|}}
        <button
            class={{get modClass @mode}}
            type="button"            
            ...attributes
        >
            {{yield}}
        </button>
  {{/let}}
</li>