$latter-grey-color: #E6E4F0;
$dark-violet-color: #503DAD;
$charcoal-grey-color: #3D3A4D;
$cold-violet-color: #7979F2;
$active-grey-color: #6D6A80;
$hardly-grey-color: #F6F5FC;

$brain-gradient: linear-gradient(90deg, #7979F2 0%, #A179F2 100%);
