$latter-grey-color: #E6E4F0;
$hardly-gray-color: #F6F5FC;
$active-gray-color: #6D6A80;
$charcoal-grey-color: #3D3A4D;

$cold-violet-color: #7979F2;
$dark-violet-color: #503DAD;

$almost-black-color: #0C0B10;
