$latter-grey-color: #e6e4f0;
$dark-violet-color: #503dad;
$charcoal-grey-color: #3d3a4d;
$cold-violet-color: #7979f2;
$active-grey-color: #6d6a80;
$hardly-grey-color: #f6f5fc;
$almost-black-color: #0c0b10;
$mouse-grey-color: #a5a2b8;
$brain-green-color: #47cd8a;

$brain-gradient: linear-gradient(90deg, #7979f2 0%, #a179f2 100%);
$half-gradient: linear-gradient(90deg, #a179f226 0%, #7979f226 100%), #ffffff;
