
// general
$header-horizontal-padding: 68px;
$transition-time: 300ms;

// font sizes
$font-size-6: 6px;
$font-size-8: 8px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-36: 36px;

// margin sizes
$margin-1: 1px;
$margin-2: 2px;
$margin-4: 4px;
$margin-6: 6px;
$margin-8: 8px;
$margin-12: 12px;
$margin-16: 16px;
$margin-20: 20px;
$margin-24: 24px;
$margin-28: 28px;
$margin-32: 32px;
$margin-36: 36px;

// padding sizes
$padding-1: 1px;
$padding-2: 2px;
$padding-4: 4px;
$padding-6: 6px;
$padding-8: 8px;
$padding-12: 12px;
$padding-16: 16px;
$padding-20: 20px;
$padding-24: 24px;
$padding-28: 28px;
$padding-32: 32px;
$padding-36: 36px;