<?xml version="1.0" encoding="UTF-8"?>

<!--
  This is a Logback logging back-end configuration file.
  For guidelines see:
  - https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-logging.html
  - https://docs.spring.io/spring-boot/docs/current/reference/html/howto-logging.html
  - https://logback.qos.ch/manual/configuration.html
  -->

<configuration>
    <!-- borrowed with amendments from the default Spring Boot Logback configuration that is available on classpath
         as spring-boot-2.1.3.RELEASE.jar!/org/springframework/boot/logging/logback/base.xml,
         see org.springframework.boot:spring-boot:2.1.3.RELEASE -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <!-- define a FILE_CUSTOM appender as an extra appender example -->
<!--
    <appender name="FILE_CUSTOM" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>custom-${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>custom-${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-0}</maxHistory>
        </rollingPolicy>
    </appender>
-->

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
<!--
        <appender-ref ref="FILE_CUSTOM" />
-->
    </root>

    <!-- start of custom settings besides root appenders -->
    <logger name="com.brn" level="DEBUG"/>

</configuration>
