.exercise-navigation {
  font-size: 20px;
}

.tasks-pages-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tasks-pages-pagination__name {
  display: inline-block;
  margin-right: 15px;
}
