.exercise-navigation {
  font-size: 20px;
}

.tasks-pages-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tasks-pages-pagination__name {
  display: inline-block;
  margin-right: 15px;
}

.c-pagination--tasks {
  padding-left: 0;
  padding-right: 0;
}

.tasks-pages-pagination > ul {
  padding: 0;
  margin: 0 0 15px;
  text-align: left;
  width: 100%;
  position: relative;
  height: 36px;
  border-radius: 15px;
  background: #f1f3f4;
  overflow: hidden;
}

.tasks-pagination-item {
  list-style-type: none;
  display: inline-block;
  transition: 1s;
  width: 100%;
  position: absolute;
  right: 0;
  transition-timing-function: ease-in-out;
  top: 3px;
}

.tasks-pagination-item a {
  width: 30px;
  min-width: 30px;
  height: 29px;
  border-radius: 50%;
  min-height: 29px;
  background: radial-gradient(circle at 10px 10px, white 0, green 60%);
  border: none;
}

.tasks-pagination-item--next-attempt a {
  background: radial-gradient(circle at 10px 10px, white 0, gold 50%);
}
