<nav class="c-pagination">
  <div class="c-pagination__pages tasks-pages-pagination">
    {{#each (sort-by "order" @tasks) as |task index|}}
      {{#if (eq 0 index)}}
        <span class="tasks-pages-pagination__name">
          Задачи:
        </span>
      {{/if}}
      {{#link-to
        data-test-pagination-link
        "series.exercise.task"
        task
        putActiveAttr=true
        class="c-pagination__control"
        data-test-pagination-link-number=task.order
      }}
        {{task.order}}
      {{/link-to}}
    {{else}}
      Пока в этом упражнении нет задач 🤷‍♂️
    {{/each}}
  </div>
</nav>