<nav class="c-pagination c-pagination--tasks mb-3">
  <div class="c-pagination__pages tasks-pages-pagination">
    {{#if @tasks.length}}
      <ul class="clearfix">
        {{#each (sort-by "order:desc" @tasks) as |task index|}}
          <li
            class="tasks-pagination-item
              {{if task.nextAttempt " tasks-pagination-item--next-attempt"}}"
            style={{html-safe
              (concat
                "width: calc(100% - 36px*"
                index
                ");"
                (if
                  task.isCompleted
                  (concat
                    "transform: translateX(calc(100% - 36px*"
                    (subtract @tasks.length index)
                    "));"
                  )
                )
              )
            }}
            {{! template-lint-configure no-inline-styles false }}
          >
            {{#link-to
              "series.exercise.task"
              task.exercise.id
              task.id
              data-test-pagination-link
              putActiveAttr=true
              class=(concat "c-pagination__control")
              data-test-pagination-link-number=task.order
              disabled=(not task.canInteract)
            }}{{/link-to}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      Пока в этом упражнении нет задач 🤷‍♂️
    {{/if}}
  </div>
</nav>