@import 'colors.scss';
@import 'variables.scss';

.select-container {
  box-sizing: border-box;
  width: 100%;
}

table {
  border-collapse: collapse;
  margin-bottom: $margin-64;
  width: 100%;

  th,
  td {
    border-bottom: 1px solid $latter-grey-color;
    font-size: $font-size-14;
    font-weight: normal;
    padding: $padding-24 $padding-12;
    text-align: left;
  }
}

::ng-deep {
  /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
  .mat-mdc-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background: $brain-gradient !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
  .mat-mdc-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: $white;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
  .mat-slide-toggle-bar {
    height: 22px !important;
    width: 36px !important;
    border-radius: 20px !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
  .mat-slide-toggle-thumb-container {
    top: 1px !important;
  }
}
