/*! purgecss start ignore */

a.active {
  opacity: 0.95;
}

.logo-text {
  display: flex;
  align-items: center;
  line-height: 18px;
  font-size: 18px;
}

.logo-text svg {
  font-size: 25px;
  margin-right: 10px;
}

.gradient-background {
  background-image: linear-gradient(
    92.58deg,
    #428dfc 49.26%,
    rgba(103, 66, 252, 0.72) 85.77%
  );
}

.border-gradient:hover {
  background: linear-gradient(45deg, #428dfc, #9f7aea) border-box; /*3*/
}
/*! purgecss end ignore */
