/*! purgecss start ignore */

a.active {
  opacity: 0.95;
}

.logo-text {
  align-items: center;
  display: flex;
  font-size: 18px;
  line-height: 18px;
}

.logo-text svg {
  font-size: 25px;
  margin-right: 10px;
}

.gradient-background {
  background-image: linear-gradient(
    92.58deg,
    #428dfc 49.26%,
    rgba(103, 66, 252, 0.72) 85.77%
  );
}

.border-gradient:hover {
  background: linear-gradient(45deg, #428dfc, #9f7aea) border-box; /*3*/
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown:hover {
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  color: #503dad;
}

.dropdown:hover {
  cursor: pointer;
}
.dropdown > a,
.dropdown > button {
  display: inline-block;
}

.dropdown > a:before,
.dropdown > button:before {
  position: absolute;
}

.dropdown input[type='checkbox'] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0px;
  margin: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}

.dropdown input[type='checkbox']:checked {
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: +0;
}

.dropdown div {
  background: #503dad;
  display: none;
  position: absolute;
  top: 58px;
  right: 0;
}

.dropdown input[type='checkbox']:checked + div {
  display: block;
}

.dropdown a {
  color: #ffffff;
  display: block;
  min-width: 100px;
  padding: 6px 20px;
  white-space: nowrap;
}

.dropdown a:hover {
  cursor: pointer;
  opacity: 0.5;
}

.dropdown a.active {
  @apply bg-purple-right !important;
}

.nav-links a.active {
  @apply bg-purple-primary text-white;
}

/*! purgecss end ignore */
