<div
  class="title"
  [innerHTML]="
    'Admin.Modules.Users.Modules.Statistics.Components.WeekTimeTrack.Title [month]'
      | translate: { month: selectedMonth.format('MMMM') }
  "
></div>

<div class="content">
  @if (isLoading()) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  } @else {
    @if (barData?.length) {
      <app-bar-chart
        [data]="barData"
        [options]="barOptions"
        [initialBarIndex]="initialIndex"
        (clickItem)="onClickItem($event)"
      ></app-bar-chart>
    } @else {
      <div class="empty-data">
        {{ 'Admin.Modules.Users.Modules.Statistics.Components.WeekTimeTrack.EmptyData' | translate }}
      </div>
    }
  }
</div>

@if (selectedDay) {
  <div>
    <app-daily-time-table
      [userId]="userId()"
      [day]="selectedDay"
    ></app-daily-time-table>
  </div>
}

<!-- #region Templates -->

<!-- #endregion -->
