<div class="header">
  <button mat-button class="prev" (click)="loadPrevMonth()">
    <mat-icon svgIcon="left-arrow"></mat-icon>
  </button>

  <div
    class="title"
    [innerHTML]="
      'Admin.Modules.Users.Modules.Statistics.Components.WeekTimeTrack.TitleMonth'
        | translate: { month: selectedMonth.format('MMMM') }
    "
  ></div>

  <button
    mat-button
    [disabled]="!isAllowNextMonth()"
    class="next"
    (click)="loadNextMonth()"
  >
    <mat-icon svgIcon="right-arrow"></mat-icon>
  </button>
</div>

<div class="content">
  <mat-progress-bar
    *ngIf="isLoading; else dataTemplate"
    mode="indeterminate"
  ></mat-progress-bar>
</div>

<!-- #region Templates -->
<ng-template #dataTemplate>
  <app-bar-chart
    *ngIf="barData?.length; else emptyDataTemplate"
    [data]="barData"
    [options]="barOptions"
  ></app-bar-chart>
</ng-template>

<ng-template #emptyDataTemplate>
  <div class="empty-data">
    {{
      'Admin.Modules.Users.Modules.Statistics.Components.WeekTimeTrack.EmptyData'
        | translate
    }}
  </div>
</ng-template>
<!-- #endregion -->
