@import 'colors.scss';

:host {
  .title,
  .content .empty-data {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: $active-grey-color;
  }

  .title ::ng-deep span {
    color: $cold-violet-color;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 15px;
    height: 200px;

    mat-progress-bar {
      height: 5px;
      border-radius: 5px;
      width: 80%;
    }

    .empty-data {
      text-align: center;
      width: 100%;
    }

    app-bar-chart ::ng-deep {
      .bb-ygrid-line {
        stroke-dasharray: 5;

        line {
          stroke: #ffb3bf;
        }
      }
    }
  }
}
