@import 'colors';

:host {
  .filters {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      width: 270px;
      border: 1px solid $mouse-grey-color;
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border-radius: 6px;

      mat-icon {
        color: $active-grey-color;
        margin-right: 20px;
      }

      input {
        width: 100%;
        padding: 0;
        font-weight: 300;
        font-size: 16px;
        border: none;
        outline: none;
        color: $active-grey-color;
      }
    }

    .toggler {
      width: 210px;
    }
  }
}
