@import 'colors';
@import 'variables';

.content {
  .empty-data {
    font-size: $font-size-16;
    font-weight: 500;
    text-align: center;
    margin: 200px auto;
  }

  .filters {
    align-items: center;
    display: flex;
    justify-content: space-between;

    mat-icon {
      color: $active-grey-color;
      margin-right: $margin-20;
    }
  }

  table {
    border-collapse: collapse;
    margin-bottom: $margin-64;
    width: 100%;

    th {
      color: $active-grey-color;
    }

    th,
    td {
      border-bottom: 1px solid $latter-grey-color;
      font-size: $font-size-14;
      font-weight: normal;
      padding: $padding-24 $padding-12;
      text-align: left;

      &.center {
        justify-content: center;
        text-align: center;
      }
    }

    .mat-row {
      position: relative;

      &:hover {
        background-color: $hardly-grey-color;
      }
    }

    .mat-row-link {
      cursor: pointer;
      height: 100%;
      left: 0;
      margin: 0;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .name-column {
      align-items: center;
      display: flex;

      .avatar {
        align-items: center;
        background-color: $latter-grey-color;
        border-radius: 50%;
        display: flex;
        font-size: $font-size-16;
        font-weight: 600;
        height: 48px;
        justify-content: center;
        margin-right: $margin-16;
        width: 48px;
      }
    }

    .item {
      margin-bottom: $margin-4;
    }

    .subItem {
      color: $active-grey-color;
    }

    .last-week-column {
      padding: 0;

      app-bar-chart {
        margin: 0 auto;
      }
    }

    .progress-column {
      mat-icon {
        color: $brain-green-color;
      }
    }

    .favorite-column {
      mat-icon {
        color: $cold-violet-color;
        fill: transparent;

        &.favorite {
          fill: $cold-violet-color;
        }
      }
    }
  }
}
