<div class="timer-wrapper font-semibold text-red-400">
  <span data-test-timer-display-value>
    {{this.displayValue}}
  </span>
  <button onclick={{action this.togglePause}}>
    {{#if this.isPaused}}
      <FaIcon @icon="play-circle" />
    {{else}}
      <FaIcon @icon="pause-circle" />
    {{/if}}
  </button>
</div>