/*! purgecss start ignore */
@import 'pod-styles.css';

/*! purgecss end ignore */
@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/*! purgecss start ignore */
@import 'billboard.css'; /* had to clone and covert it from 'billboard.js/src/scss/billboard.scss' */
/*! purgecss end ignore */

/*! purgecss start ignore */
html {
  background: #efefef;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  min-height: 100vh;
  color: #234e52;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  flex: 1;
  position: relative;
}

main > * {
  width: 100%;
}

.ember-modal-overlay {
  background-color: #eeeeeee6;
}

a {
  text-decoration: none;
}

.breadcrumbs-container {
  width: 100%;
  margin-bottom: 15px;
}

a[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.not-accessable {
  text-align: center;
  width: 100%;
}

.center {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50% -50%);
}

.not-accessable > * {
  display: block;
}

.not-accessable h5 {
  margin-top: 0;
}

.series-container {
  flex: 1;
}

.exercise-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.modal-fixed {
  position: fixed;
}

.custom-modal-overlay {
  min-height: 550px;
}

.modal-body {
  height: 600px;
  width: 1200px;
  padding: 25px 40px 40px;
}

/*! purgecss end ignore */
