/*! purgecss start ignore */
@import 'pod-styles.css';
/*! purgecss end ignore */
@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/*! purgecss start ignore */
html {
  background: #efefef;
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  min-height: 100vh;
  color: #234e52;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding: 25px 40px 40px;
  flex: 1;
  position: relative;
}

main > * {
  width: 100%;
}

a.active {
  color: #285e61;
}

a {
  color: #319795;
  text-decoration: none;
}

.breadcrumbs-container {
  width: 100%;
  margin-bottom: 15px;
}

a[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.not-accessable {
  text-align: center;
  width: 100%;
}

.not-accessable > * {
  display: block;
}

.not-accessable h5 {
  margin-top: 0;
}

.series-container {
  flex: 1;
}

.series-page--aside {
  padding: 20px;
  position: relative;
  flex-basis: 25%;
  margin-right: 20px;
}

.series-page--aside__icon {
  position: absolute;
  top: 0;
  right: 10px;
}

.series-page--aside__icon svg {
  font-size: 30px;
}

.task-square-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 9px 9px 0;
  height: 70px;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  flex-basis: 32%;
  border: 1px solid #eee;
  border-radius: 3px;
}

.start-task-button::after,
.start-task-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-task-button::after {
  content: '';
  z-index: 0;
}

.exercise-container {
  position: relative;
  overflow: hidden;
  max-height: 74vh;
}

.modal-fixed {
  position: fixed;
}

.custom-modal-overlay {
  min-height: 550px;
}

.modal-body {
  height: 600px;
  width: 1200px;
  padding: 25px 40px 40px;
}

@supports (backdrop-filter: blur()) {
  .start-task-button::after {
    backdrop-filter: blur(2px);
  }
}
/*! purgecss end ignore */
