@import 'pod-styles.css';

html,
body {
  background: #efefef;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

body > div.ember-view {
  min-height: 100%;
  margin: 0 auto;
  background: white;
  padding: 30px;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.series-page--aside {
  border-right: 1px rgb(116, 116, 140) solid;
  padding-right: 10px;
}

.series-page--canvas {
  flex-grow: 2;
  margin-top: 25px;
  padding: 0px 30px;
}

.series-page--canvas audio {
  margin: 0 auto 15px;
  width: calc(100% - 10px);
}

a.active {
  color: #3a3a86;
}

a {
  color: #6868a5;
  text-decoration: none;
}

.breadcrumbs-container {
  width: 100%;
  padding: 15px 0;
}

a[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.not-accessable {
  text-align: center;
  width: 100%;
}

.not-accessable > * {
  display: block;
}

.not-accessable h5 {
  margin-top: 0;
}
