/*! purgecss start ignore */
@import 'pod-styles.css';
/*! purgecss end ignore */
@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/*! purgecss start ignore */
html {
  background: #efefef;
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  min-height: 100vh;
  color: #234e52;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  flex: 1;
  position: relative;
}

main > * {
  width: 100%;
}

.ember-modal-overlay {
  background-color: #eeeeeee6;
}

.background-form:after  {
  background-image: url(/ui/form-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  position: absolute; 
  width: 100%;
  top: -72px;
  left: 0;
  bottom: -50px;
  z-index: 0;
}

body.route-groups  {
  background-image: url(/ui/groups-background.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
body.route-group  {
  background-image: url(/ui/group-background.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  text-decoration: none;
}

.breadcrumbs-container {
  width: 100%;
  margin-bottom: 15px;
}

a[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.not-accessable {
  text-align: center;
  width: 100%;
}

.not-accessable > * {
  display: block;
}

.not-accessable h5 {
  margin-top: 0;
}

.series-container {
  flex: 1;
}

.series-page--aside {
  position: relative;
  flex-basis: 25%;
  margin-right: 20px;
}

.series-page--aside__icon {
  position: absolute;
  top: 0;
  right: 10px;
}

.series-page--aside__icon svg {
  font-size: 30px;
}

.task-square-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.start-task-button::after,
.start-task-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-task-button::after {
  content: '';
  z-index: 0;
}

.exercise-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.modal-fixed {
  position: fixed;
}

.custom-modal-overlay {
  min-height: 550px;
}

.modal-body {
  height: 600px;
  width: 1200px;
  padding: 25px 40px 40px;
}

@supports (backdrop-filter: blur()) {
  .start-task-button::after {
    backdrop-filter: blur(2px);
  }
}
/*! purgecss end ignore */
