@import 'pod-styles.css';
@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

html {
  background: #efefef;
  margin: 0;
  font-family: sans-serif;
}

html,
body {
  min-height: 100vh;
  color: #234e52;
}

body > div.ember-view {
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-wrap: wrap;
  background: white;
  min-height: 80vh;
  padding: 25px 40px 40px;
  flex: 1;
}

main > * {
  width: 100%;
}

.series-page--canvas {
  padding-left: 30px;
  flex-basis: 70%;
  overflow: hidden;
}

.series-page--canvas audio {
  margin: 0 auto 15px;
  width: calc(100% - 10px);
}

a.active {
  color: #285e61;
}

a {
  color: #319795;
  text-decoration: none;
}

.breadcrumbs-container {
  width: 100%;
  margin-bottom: 15px;
}

a[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.not-accessable {
  text-align: center;
  width: 100%;
}

.not-accessable > * {
  display: block;
}

.not-accessable h5 {
  margin-top: 0;
}

.series-container {
  flex: 1;
}

.series-page--aside {
  padding: 0 20px;
  position: relative;
  flex-basis: 30%;
}

.series-page--aside__icon {
  position: absolute;
  top: 0;
  right: 10px;
}

.series-page--aside__icon svg {
  font-size: 30px;
}

.task-square-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 9px 9px 0;
  height: 70px;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  flex-basis: 32%;
  border: 1px solid #eee;
  border-radius: 3px;
}
