$main-font-family: Montserrat;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

$custom-typography: mat-typography-config(
  $font-family: $main-font-family,
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-angular-primary: mat-palette($mat-indigo);
$frontend-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-angular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$frontend-angular-theme: mat-light-theme($frontend-angular-primary, $frontend-angular-accent, $frontend-angular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frontend-angular-theme);

// Material override
@import './app/styles/material-override.scss';

// Global styles
html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: $main-font-family;
  min-height: 100%;
  overflow: hidden;
}

.form-control {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  margin-top: 5px;
}

.form-group {
  margin-bottom: 15px;
}
