<section class={{style-namespace "header-profile"}}>
  <div class="bg-gradient-to-r from-blue-100 to-purple-100 profile flex justify-between">
    <div class="flex items-center">
      <div class="profile__img w-40">
        <img src="/pictures/avatars/avatar 1.png" alt="user avatar">
      </div>
      <div class="profile__name">Ксения Разумникова </div>
    </div>
    <div class="statistic flex items-center">
      <div class="statistic__item">
        <div class="statistic__number">12</div>
        <div class="statistic__text">пройденых тем</div>
      </div>
      <div class="statistic__item">
        <div class="statistic__number">12</div>
        <div class="statistic__text">пройденых тем</div>
      </div>
      <div class="statistic__item">
        <div class="statistic__number">240</div>
        <div class="statistic__text">пройденых тем</div>
      </div>
    </div>
  </div>
</section>