<section class="admin-home">
  <nav class="admin-home__nav">
    <a mat-stroked-button
       class="admin-home__nav-item"
       [ngClass]="{'active': activeBtnIndex === 0}"
       (click)="activeBtnIndex = 0"
       routerLink="file">Load resource files to storage
    </a>
    <a mat-stroked-button
       class="admin-home__nav-item"
       [ngClass]="{'active': activeBtnIndex === 1}"
       (click)="activeBtnIndex = 1"
       routerLink="tasks">Load Configuration Files to appl
    </a>
  </nav>
  <section>
    <div>
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </section>
</section>
