<div mat-dialog-title>
  <h1>О чем говорит статистика</h1>

  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <p class="title">Проверьте, достаточно ли регулярно вы делаете занятия:</p>

  <img class="statistics-info-dialog" src="assets/statistics-info-dialog.svg" />

  <p class="prompt">
    По данным исследований, чтобы улучшить порог слышимости, нужно заниматься не менее <b>6</b> дней в неделю по
    <b>20</b> минут в течение <b>2</b> лет. В месяц должно быть не менее <b>8</b> часов <b>40</b> минут в сумме за
    <b>26</b> дней.
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Хорошо</button>
</mat-dialog-actions>
