/*! purgecss start ignore */
* {
  cursor: pointer;
}

div:first {
  border-radius: 8px;
}

.selected {
  background: linear-gradient(90deg, #7979f2 0%, #a179f2 100%);
}
.selected .date .month,
.selected .date .year {
  color: #ffffff;
}
.calendar {
  color: #3d3a4d;
  width: 70px;
  border-radius: 8px;
}
.calendar .header {
  display: flex;
  justify-content: space-between;
  padding: 6px 14px;
  border-bottom: 1px solid #3d3a4d;
}
.calendar .header .dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #3d3a4d;
}
.calendar .content {
  padding: 8px;
  text-align: center;
  font-style: normal;
  font-size: 10px;
  line-height: 16px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.calendar .content b.time {
  font-size: 12px;
}
.date {
  padding: 2px 0;
}
.date .month,
.date .year {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
}
/*! purgecss end ignore */