.header {
  margin: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;

  & button:not(:last-child) {
    margin-right: 10px;
  }
}
