<article class="admin">
  <header class="admin__header">
    <mat-toolbar>
      <button class="admin__header-hamburger mat-button">
        <i class="material-icons " (click)="sideNav.toggle()">menu</i>
      </button>
      <span class="admin__header-title">BRN-Admin</span>
    </mat-toolbar>
  </header>
  <mat-sidenav-container>
    <mat-sidenav #sideNav class="admin__sidenav" mode="side" opened>
      <nav class="admin__sidenav-container">
        <ul class="admin__sidenav-items">
          <li class="admin__sidenav-item"><button class="admin__sidenav-item-btn" mat-button>Home</button></li>
        </ul>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</article>
