<!-- <table class="users">
  <tr>
    <th class="name-column-title">
      <div class="wrap">
        {{
          'Admin.Modules.Users.Components.UsersTable.ColumnsName.Name'
            | translate
        }}

        <mat-icon
          [class.desc]="sortByName === 'desc'"
          (click)="sortByNameEvent.emit(sortByName === 'asc' ? 'desc' : 'asc')"
        >
          keyboard_arrow_down
        </mat-icon>
      </div>
    </th>

    <th>
      {{
        'Admin.Modules.Users.Components.UsersTable.ColumnsName.FirstVisit'
          | translate
      }}
    </th>

    <th>
      {{
        'Admin.Modules.Users.Components.UsersTable.ColumnsName.LastVisit'
          | translate
      }}
    </th>

    <th class="center">
      {{
        'Admin.Modules.Users.Components.UsersTable.ColumnsName.CurrentWeek'
          | translate
      }}
    </th>

    <th class="center">
      {{
        'Admin.Modules.Users.Components.UsersTable.ColumnsName.WorkingDaysInLastMonth'
          | translate
      }}
    </th>

    <th class="center">
      {{
        'Admin.Modules.Users.Components.UsersTable.ColumnsName.Progress'
          | translate
      }}
    </th>

    <th class="center">
      {{
        'Admin.Modules.Users.Components.UsersTable.ColumnsName.Favorite'
          | translate
      }}
    </th>
  </tr>

  <tr
    *ngFor="let user of usersTableData"
    [routerLink]="[user.id, 'statistics']"
  >
    <td class="name-column">
      <div class="wrap">
        <div class="avatar">AB</div>

        <div class="info">
          <div class="full-name">{{ user.name }}</div>

          <div class="common">
            {{
              'Admin.Modules.Users.Components.UsersTable.NameColumn.CommonInfo [years, gender]'
                | translate
                  : { years: user.yearsOld, gender: user.gender | lowercase }
            }}
          </div>
        </div>
      </div>
    </td>

    <td class="visit-column">
      <div class="date">{{ user.firstVisit.date }}</div>

      <div class="time">
        {{
          'Admin.Modules.Users.Components.UsersTable.VisitColumn.Time [hours]'
            | translate: { hours: user.firstVisit.time }
        }}
      </div>
    </td>

    <td class="visit-column">
      <div class="date">{{ user.lastVisit.date }}</div>

      <div class="time">
        {{
          'Admin.Modules.Users.Components.UsersTable.VisitColumn.Time [hours]'
            | translate: { hours: user.lastVisit.time }
        }}
      </div>
    </td>

    <td class="last-week-column">
      <app-bar-chart
        [data]="user.lastWeek.data"
        [options]="user.lastWeek.option"
      ></app-bar-chart>
    </td>

    <td class="center">
      {{ user.workingDaysInLastMonth }}
    </td>

    <td class="progress-column center">
      <mat-icon svgIcon="up-arrow" *ngIf="user.hasProgress"></mat-icon>
    </td>

    <td class="favorite-column center">
      <mat-icon svgIcon="star" [class.favorite]="user.isFavorite"></mat-icon>
    </td>
  </tr>
</table> -->

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{
        'Admin.Modules.Users.Components.UsersTable.ColumnsName.Name' | translate
      }}
    </th>
    <td mat-cell *matCellDef="let user">
      {{ user.name }}
      {{
        'Admin.Modules.Users.Components.UsersTable.NameColumn.CommonInfo [years, gender]'
          | translate: { years: user.age, gender: user.gender | lowercase }
      }}
    </td>
  </ng-container>

  <ng-container matColumnDef="firstVisit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{
        'Admin.Modules.Users.Components.UsersTable.ColumnsName.FirstVisit'
          | translate
      }}
    </th>
    <td mat-cell *matCellDef="let user">
      {{ user.firstDone | date }}
      {{
        'Admin.Modules.Users.Components.UsersTable.VisitColumn.Time [hours]'
          | translate: { hours: user.firstDone | date: 'H' }
      }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="lastVisit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{
        'Admin.Modules.Users.Components.UsersTable.ColumnsName.LastVisit'
          | translate
      }}
    </th>
    <td mat-cell *matCellDef="let user">
      {{ user.lastDone | date }}
      {{
        'Admin.Modules.Users.Components.UsersTable.VisitColumn.Time [hours]'
          | translate: { hours: user.lastDone | date: 'H' }
      }}
    </td>
  </ng-container>

  <!-- Fruit Column -->
  <ng-container matColumnDef="currentWeek">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{
        'Admin.Modules.Users.Components.UsersTable.ColumnsName.CurrentWeek'
          | translate
      }}
    </th>
    <td mat-cell *matCellDef="let user">
      <ng-container *ngIf="chartsData && userList && dataSource">
        <app-bar-chart
          [data]="user.currentWeekChart.data"
          [options]="user.currentWeekChart.option"
        ></app-bar-chart>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="workingDaysInLastMonth">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{
        'Admin.Modules.Users.Components.UsersTable.ColumnsName.WorkingDaysInLastMonth'
          | translate
      }}
    </th>
    <td mat-cell *matCellDef="let user">{{ user.workDayByLastMonth }}</td>
  </ng-container>

  <ng-container matColumnDef="progress">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{
        'Admin.Modules.Users.Components.UsersTable.ColumnsName.Progress'
          | translate
      }}
    </th>
    <td mat-cell *matCellDef="let user">
      {{ user.diagnosticProgress.SIGNALS }}
    </td>
  </ng-container>

  <ng-container matColumnDef="favorite">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{
        'Admin.Modules.Users.Components.UsersTable.ColumnsName.Favorite'
          | translate
      }}
    </th>
    <td mat-cell *matCellDef="let user">{{ user.isFavorite }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      No data matching the filter "{{ input.value }}"
    </td>
  </tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page of users"
></mat-paginator>
