/*! purgecss start ignore */

.progress-bar {
  width: 100%;
  height: 16px;
  background-color: #e6e4f0;
  position: relative;
  border-radius: 8px;
}

.progress-bar__value {
  position: absolute;
  height: 16px;
  border-radius: 8px;
  background-color: #47cd8a;
  transition: width 0.5s;
  transition-timing-function: ease-in-out;
  width: 1%;
}

/*! purgecss end ignore */
