{{page-title "Audibly"}}
<Header />
<main
  class="{{if
      (or (not (is-active "index")))
      "container my-auto flex-col mx-auto mt-2 sm:mt-4 rounded pl-1 pr-1 pt-1 pb-1 relative"
    }}"
>
  {{outlet}}
</main>
<Footer />