<p>
  <strong>
    Команда волонтёров начали разрабатывать платформу интерактивных аудио упражнений Brain-Up для людей с когнитивными проблемами восприятия речи. С помощью таких специальных, регулярных занятий можно значительно улучшить способность слышать и понимать речь. Добро пожаловать!
  </strong>
</p>

<br>
<p>
  По статистике, почти у 10% людей есть проблемы со слухом разного происхождения. Однако около 20-30% из них при помощи специальных занятий могут значительно улучшить эту способность. Разбор электрических импульсов, которые трансформируют звуковые сигналы в слова и речь, происходит в отдельных зонах головного мозга. Судя по последним исследованиям, головной мозг не перестает развиваться с годами и поддается тренировке практически в любом возрасте.
</p>
<br>
<p>
  Американские специалисты около 20 лет назад начали изучать эту тему, накопив хороший опыт и аналитику за это время. Совместно с инженерами они разработали несколько программ с упражнениями (), которые реально работают и помогают многим людям восстанавливать аудиторные способности. Но все эти приложения довольно дорогие и не адаптированы под неанглоговорящее население. В ближайшем будущем они, к сожалению, не планируют поддерживать мультиязычность их языковых блоков. Никаких аналогов для русскоговорящих людей на сегодняшний день нет, а необходимость и актуальность очевидны.
</p>
<br>
<p>
  <strong>
  Данный проект разрабатывается совместно с ведущими специалистами в этой области с целью создать подобный аналог, используя публичные научные наработки в этой сфере. Проект не является коммерческим, в разработке принимают участие волонтёры и мы открыты к любой помощи и сотрудничеству.
  </strong>
</p>
<br>
<p>
  За историю проекта с сентября 2019 года в команде разработки участвовало с разной степенью активности более 40 человек из России, Украины, Беларуси, Польши, Мексики.
</p>

<br>

<p>
  Рабочая версия программы Brain-Up уже готова, где можно уже сейчас зарегистрироваться и заниматься.
</p>
<br>

<p>
  Рекомендации по занятиям, данные американскими коллегами, таковы:
  <ul>
    <li>заниматься необходимо регулярно ( минимум 6 раз в неделю 30 минут в день)</li>
    <li>слушать аудиоматериал, прислушиваться и выполнять задания</li>
    <li>если Вы чувствуете, что задание для Вас не очень простое - выполняйте его еще и еще раз</li>
    <li>главное не столько количество правильных ответов, а продолжительность занятий по развитию слухового восприятия</li>
  </ul>

</p>
<br>
<p>
  Блок занятий состоит из двух групп упражнений – неречевых и речевых.
</p>
<br>
<p>
  <i>Неречевой блок пока в разработке, но там уже есть несколько первых упражнений.
</i>
</p>
<br>
<p>
  В речевом блоке есть несколько однотипных серий Слова, Группа слов, Фразы. Они уже практически завершены технически и еще будут дополнены упражнениями. Заниматься по этим сериям уже можно.
</p>
<br>
<p>
  Серия “Слова” - первая, с которой стоит начинать заниматься. Эта серия призвана помочь пользователю натренировать способность слышать отдельные слова, сказанные в тишине и более сложный вариант - с наложением различных шумов.
</p>

<br>
<p>
  Матричная форма упражнений серии “Группа слов” предложена Инной Васильевной Королёвой, профессором кафедры слуха и речи ЛОРНИИ. Данная методика очень удачна и уже зарекомендовала себя в течении многих лет. В этой серии пользователь видит матрицу и слышит в случайном порядке слова из каждого столбца, получается грамматически правильное предложение с отсутствием смысла, но пользователю необходимо его расслышать и выбрать сказанные слова. Отсутствие смысла усложняет упражнение, так как неуслышанные фрагменты речи наш мозг может компенсировать логикой, поэтому важно заставить его слушать максимально сконцентрировано всю последовательность слов. Например, могут быть сгенерированы: «Девочка читает вишни», «Бабушка рисует книги», «Женщина танцует деньги», «Девочка рисует деньги» и т.д.
</p>

<br>
<p>
  Серия “Фразы” учит пользователя делать акцент на такие сложные в распознавании моменты, как окончания, предлоги, частица “не” в предложении.
</p>

<br>

<p>
  Просьба пользователям, по возможности, участвовать активнее и с пониманием относиться к такого рода проекту. При нахождении ошибок фиксировать их в наш файл https://docs.google.com/document/d/12dpJjYasXU98bSck6QDF-9nPzSJaRPkYJScusI9oX1c/edit#, чтобы мы могли их оперативно скорректировать.
</p>

<br>

<p>
  Мы будем рады всем, кто захочет присоединиться к проекту в роли разработчика (Kotlin, Ember, Angular), тестировщика, художника и просто в качестве волонтера по наполнению контента. Если хотите стать частью команды, пишите на наш проектный емейл <b>brainupproject@yandex.ru</b>.
</p>

<br>
<p>
  Ведь только наши совместные усилия могут сделать этот проект «живым» и, возможно, в обозримом будущем помочь многим людям открыть или вернуть для себя мир понимаемых звуков».
</p>
<br><br>

<h3>Полезные ссылки</h3>
<br>
<p>
  <ol>
    <li class="m-2"><h4>Статьи о проекте</h4><br>

      <ul>
        <li><a href="https://habr.com/ru/company/epam_systems/blog/530824/" class="text-blue-900">habr.com/ru/company/epam_systems/blog/530824/</a></li>
      </ul>
    </li>

    <li class="m-2"><h4>Зарубежные программы для развития слухового восприятия</h4><br>

 <ul>
        <li>
            <a href="https://advancedbrain.com/" class="text-blue-900">Advanced Brain Technologies: Home </a> ― терапевтические упражнения для улучшения здоровья мозга, эмоционального и психического состояния с помощью мелодий и звуков
        </li>

        <li>
          <a href="http://musicalauditorytraining.com/" class="text-blue-900">Musical Auditory Training</a> ― развитие слухового восприятия с помощью музыки

        </li>
        <li>
          <a href="https://www.scilearn.com/program/" class="text-blue-900">Fast ForWord Reading Program</a> ― программа по развитию способностей мозга и понимания речи
        </li>
      </ul>
    </li>

    <li class="m-2">
      <h4>Научная основа</h4><br>
      <ul>
        <li><a class="text-blue-900" href="https://youtu.be/BMNrFENZ4Rw">https://youtu.be/BMNrFENZ4Rw</a></li>
        <li><a class="text-blue-900" href="https://youtu.be/QUoBMSKq7zg">https://youtu.be/QUoBMSKq7zg</a></li>
        <li><a class="text-blue-900" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6417420/">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6417420/</a> </li>
        <li><a class="text-blue-900" href="https://profkoroleva.ru/">https://profkoroleva.ru/</a> </li>
      </ul>
    </li>
  </ol>
</p>

<br><br>
<h3>Спасибо всем кто участвует и поддерживает наш проект
</h3>

<br>

<p>
  <ul>
    <li>Компания EPAM (<a class="text-blue-900" href="https://www.epam.com">https://www.epam.com</a>) предоставила информационное сопровождение на внутреннем портале Contribute и предоставила Jira и Kb space для нашего проекта.
</li>
<li>Компания Selectel (<a class="text-blue-900" href="https://selectel.ru/">https://selectel.ru/</a>) предоставила нашему проекту instanse для запуска сервиса.</li>

<li>Компания JetBrains (<a class="text-blue-900" href="https://www.jetbrains.com">https://www.jetbrains.com</a>) предоставила участникам проекта лицензии Idea.</li>


<li>Компании Yandex (<a class="text-blue-900" href="https://cloud.yandex.ru/">https://cloud.yandex.ru/</a>) за предоставления аккаунта для проекта для генерации аудио-файлов.</li>
<li>На <a class="text-blue-900" href="github.com">github.com</a> у нас размещён код и запущен CI/CD процесс проекта.</li>
<li>Я также очень благодарна всем ребятам, которые помогали в разное время, и тем, кто продолжает разрабатывать эту платформу:<br><br>
<img src="/content/pages/description/persons.png" />

</li>

<li>И нашим медицинским специалистам, консультантам:<br><br>
<img src="/content/pages/description/doctors.png" />
</li>
  </ul>
</p>

<br>
<p>
  Мы будем рады всем, кто захочет присоединиться и внести свой вклад в нашу активность.

</p>

<br>

<p>
  Если хотите стать частью команды, пишите мне elena_moshnikova@epam.com, я с радостью отвечу на Ваши вопросы и мы постараемся найти пути сотрудничества.

</p>

<br>

<p>
  Ведь только наши совместные усилия делают этот проект «живым»  и, возможно, в обозримом будущем мы сможем помочь многим людям открыть для себя или вернуть  мир понимаемых звуков.
</p>