<ol class="flex series-container items-center justify-center">
  <li class="mr-6 list-item">
    {{#link-to "group" this.model.firstObject}}
      <ExerciseType
        @progress={{100}}
        @completed={{48}}
        @total={{100}}
        class="speech-exercise"
        @initial={{this.model.lastObject.name}}
      />
    {{/link-to}}
  </li>
  <li class="list-item">
    {{#link-to "group" this.model.lastObject}}
      <ExerciseType
        @progress={{24.43}}
        @completed={{88}}
        @total={{150}}
        class="non-speech-exercises"
        @initial={{this.model.firstObject.name}}
      />
    {{/link-to}}
  </li>
</ol>