{{#unless this.headerAndNavShown}}
  <div class="flex items-center mb-2">
    <Breadcrumbs @group={{@model}} />
  </div>
{{/unless}}
<div class="series-container flex">
  {{#unless this.headerAndNavShown}}
    <aside class="series-page--aside">
      <GroupNavigation @group={{@model}} />
    </aside>
  {{/unless}}
  <div class="series-page--canvas flex flex-grow">
    {{outlet}}
  </div>
</div>