{{page-title @model.name}}
{{#unless this.headerAndNavShown}}
  <div class="flex items-center mb-2">
    <Breadcrumbs @group={{@model}} />
  </div>
{{/unless}}
{{#unless this.headerAndNavShown}}
    <aside class="sticky top-0">
      <GroupNavigation @group={{@model}} />
    </aside>
{{/unless}}
<div class="series-container flex">
  <div class="series-page--canvas flex flex-grow">
    {{outlet}}
  </div>
</div>