{{page-title (t 'login.title')}}

<section class="header relative pt-2 items-center flex h-screen" style="max-height:860px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <LoginForm />
    </div>
  </div>
</section>
