<div class="not-accessable">
  <h3>
    Страница, которую вы хотите посетить, недоступна.
  </h3>
  <h5>
    Вы можете перейти на
    {{#link-to "index"}}
      главную страницу
    {{/link-to}}
  </h5>
</div>