<Breadcrumbs @series={{this.model}} />
<aside class="series-page--aside o-grid__cell o-grid__cell--width-30">
  <SeriesNavigation @series={{this.model}} />
</aside>
<div class="series-page--canvas o-grid__cell o-grid__cell--width-70">
  {{outlet}}
</div>