<Breadcrumbs @series={{this.model}} />
<div class="flex series-container">
  <aside class="series-page--aside shadow-md border-gray-300 border rounded">
    <SeriesNavigation @series={{this.model}} />
    <div class="series-page--aside__icon text-red-500">
      <FaIcon @icon="bookmark" />
    </div>
  </aside>
  <div class="series-page--canvas flex flex-col flex-grow">
    {{outlet}}
  </div>
</div>