<form class="upload-tasks-content" [formGroup]="tasksGroup" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>{{ 'Admin.Modules.UploadFile.Modules.LoadTasks.Labels.Group' | translate }}</mat-label>

    <mat-select formControlName="group">
      <mat-option *ngFor="let group of groups$ | async" [value]="group">
        {{ group.name }}
      </mat-option>
    </mat-select>

    <mat-error *ngIf="tasksGroup.controls.group.hasError('required')">
      {{ 'Admin.Modules.UploadFile.Modules.LoadTasks.Errors.FieldMustNotBeEmpty' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'Admin.Modules.UploadFile.Modules.LoadTasks.Labels.Series' | translate }}</mat-label>

    <mat-select formControlName="series">
      <mat-option *ngFor="let series of series$ | async" [value]="series">
        {{ series.name }}
      </mat-option>
    </mat-select>

    <mat-error *ngIf="tasksGroup.controls.series.hasError('required')">
      {{ 'Admin.Modules.UploadFile.Modules.LoadTasks.Errors.FieldMustNotBeEmpty' | translate }}
    </mat-error>
  </mat-form-field>

  <app-upload-file-input formControlName="file"></app-upload-file-input>

  <button class="upload-tasks-content__submit-btn" type="submit" [disabled]="tasksGroup.invalid">
    {{ 'Admin.Modules.UploadFile.Modules.LoadTasks.Buttons.Submit' | translate }}
  </button>
</form>

<div *ngIf="fileFormat$ | async as format" class="upload-tasks-content__format">
  <strong>{{ 'Admin.Modules.UploadFile.Modules.LoadTasks.AcceptedFormat' | translate }}</strong>

  <pre class="upload-tasks-content__format-container">{{ format }}</pre>
</div>
