/*! purgecss start ignore */

& {
  background-color: #daf0fc;
  border-radius: 10px;
}

.card {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 410px;
}

.card-img {
  width: 100%;
  flex: 1 1 0;
  min-height: 0;
  object-fit: cover;
}

@media (max-width: 640px) {
  .card {
    width: 220px;
  }
}

.card:focus {
  outline: none;
}

.progress {
  display: flex;
  padding-top: 30px;
}

.progress__completed,
.progress__total,
.progress__text {
  align-self: center;
  color: #000;
  display: flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

.progress__completed:after {
  display: block;
  content: '/';
}

.progress__text {
  margin-right: 6px;
}

.svg-box {
  margin-right: 6px;
}

/*! purgecss end ignore */
