/*! purgecss start ignore */

& {
  background-color: #daf0fc;
  border-radius: 10px;
}

.card {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 350px;
  overflow: hidden;
  position: relative;
  width: 410px;
}

.card:focus {
  outline: none;
}

.speech-exercise,
.non-speech-exercises {
  background-image: url(/pictures/exercise-type/speech-exercises.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 230px;
  width: 410px;
}

.non-speech-exercises {
  background-image: url(/pictures/exercise-type/non-speech-exercises.svg);
}

.progress {
  display: flex;
  padding-top: 30px;
}

.progress__completed,
.progress__total,
.progress__text {
  align-self: center;
  color: #000;
  display: flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

.progress__completed:after {
  display: block;
  content: '/';
}

.progress__text {
  margin-right: 6px;
}

.svg-box {
  margin-right: 6px;
}


/*! purgecss end ignore */
