<div class="{{style-namespace "exercise-type"}} shadow-xl hover:shadow-outline">
  <button class="card flex flex-col bg-white" type="button">
    <span ...attributes class="sm:mb-6 mb-2"></span>
    <h4 class="sm:text-lg text-sm font-medium text-gray-700 uppercase">
      {{@initial}}
    </h4>
  </button>
</div>