<div class="hover:shadow-outline shadow-xl">
  <button class="card flex flex-col bg-white" type="button">
    <img class="mb-4" src="/pictures/exercise-type/{{@img}}.svg" alt="{{@initial}}" />
    <h4 class="w-full mb-2 text-sm font-medium text-center text-gray-700 uppercase">
      {{@initial}}
    </h4>
  </button>
</div>