<div class= "{{style-namespace "exercise-type"}} shadow-xl  hover:shadow-outline">
  <button class="card bg-white" type="button">
    <span ...attributes class="mb-6"></span>
    <h4 class="text-lg font-medium text-gray-700 uppercase">
      {{@initial}}
    </h4>
  </button>
</div>