{{#each this.exerciseHeaders as |header|}}
  <h2 data-test-series-navigation-header>
    {{header}}
  </h2>
  <div class="exercise-block__levels">
    {{#each this.sortedExercises as |exercise|}}
      {{#if (eq exercise.name header)}}
        <div class="task-square-link shadow exercise-block__level">
          <FaIcon
            @icon="check-circle"
            class={{if
              exercise.canInteract
              "exercise-block__icon fa-3x"
              "exercise-block__icon inactive-icon fa-3x"
            }}
          />
          <div>
            {{#link-to
              "group.series.exercise"
              exercise.id
              data-test-series-navigation-list-link
              class="series-nav__exercies-link"
              disabled=(not exercise.canInteract)
            }}
              Level{{exercise.level}}
            {{/link-to}}
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/each}}