<h2 class="c-heading u-xlarge">
  {{capitalize @series.name}}
</h2>
<nav>
  <ol class="series-nav__exercies-list">
    {{#each @series.exercises as |exercise|}}
      <li class="">
        {{#link-to
          "series.exercise"
          exercise
          data-test-series-navigation-list-link
          data-test-series-navigation-list-link-id=exercise.id
          class="series-nav__exercies-link"
          disabled=(not exercise.canInteract)
        }}
          {{capitalize exercise.name}}
        {{/link-to}}
      </li>
    {{/each}}
  </ol>
</nav>