:host {
  display: flex;
  flex-direction: column;
  padding: 40px 28px;

  .control-panel {
    display: flex;
    justify-content: flex-end;

    button.statistics-info-dialog {
      display: flex;
      align-items: center;
      padding: 6px 16px;
      border: 1px solid;
      box-shadow: 0px 4px 16px;
      border-radius: 16px;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;

      mat-icon {
        margin-right: 10px;
      }
    }
  }
}
