<div class="control-panel">
  <button class="statistics-info-dialog" mat-button (click)="openStatisticsInfoDialog()">
    <mat-icon svgIcon="help"></mat-icon>

    <span>{{ 'Admin.Modules.Statistics.Buttons.WhatIsIt' | translate }}</span>
  </button>
</div>

<app-week-time-track [data]="weekTimeTrackData$ | async"></app-week-time-track>

<app-month-time-track
  [currentYear]="selectedMonth.year()"
  [data]="monthTimeTrackData$ | async"
  (selectMonthEvent)="selectMonth($event)"
  (loadPrevYearEvent)="loadPrevYear()"
  (loadNextYearEvent)="loadNextYear()"
></app-month-time-track>
