/*! purgecss start ignore */

.image-block {
  animation: fade-out 0.5s;
  min-width: 350px;
  min-height: 350px;
  max-width: 100%;
  max-height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--word-picture-url);
}

/*! purgecss end ignore */
