<div {{did-insert this.setStyle}}>
  <div class="flex flex-wrap flex-1 mt-5">
    {{#if @pictureFileUrl}}
      {{! template-lint-configure no-inline-styles false }}
      <div
        data-test-image-block
        aria-label={{html-safe (concat "изображение " @label)}}
        role="img"
        class="image-block flex-1 mx-auto rounded"
      ></div>
    {{/if}}
  </div>
</div>