button {
  padding: 90px 95px 90px 105px;
  line-height: 90px;
  border-radius: 50%;
  color: #fff;
  font-size: 80px;
  z-index: 1;
  background: radial-gradient(
    #fc8181 45%,
    rgba(252, 129, 129, 0.3) 0,
    transparent 90%
  );
  outline: none;
  transition: 0.3s;
}

button:active {
  transform: scale(0.9);
  outline: none;
}

button:hover,
button:focus:not(:active) {
  transform: scale(1.05);
}

button:focus:not(:active) {
  box-shadow: 0px 0px 5px 1px #fc8181;
  outline: none;
}
