<div class="{{this.styleNamespace}} start-task-button" ...attributes>
  <button
    data-test-start-task-button
    aria-label="Начать выполнение упражнения"
    type="button"
    {{on "click" this.startTask}}
  >
    <FaIcon class="play-button-icon" @icon="play" />
  </button>
</div>