<div class={{style-namespace "start-task-button"}} ...attributes>
  <button
    data-test-start-task-button
    aria-label={{t "start_task_button.label"}}
    type="button"
    {{on "click" @startTask}}
  >
    <FaIcon class="play-button-icon" @icon="play" />
  </button>
</div>