<form class="upload-tasks-content" [formGroup]="tasksGroup" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Group</mat-label>
    <mat-select formControlName="group" required>
      <mat-option *ngFor="let group of groups$ | async" [value]="group">
        {{group.name}}
      </mat-option>
      <mat-error *ngIf="tasksGroup.controls.group.hasError('required')">Please, choose a group</mat-error>
    </mat-select>
    <mat-error *ngIf="tasksGroup.controls.group.hasError('required')">Field must not be empty</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Series</mat-label>
    <mat-select formControlName="series" required >
      <mat-option *ngFor="let series of series$ | async" [value]="series">
        {{series.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="tasksGroup.controls.series.hasError('required')">Field must not be empty</mat-error>
  </mat-form-field>

  <app-upload-file [disabled]="!tasksGroup.controls.series.valid" formControlName="file"></app-upload-file>
  <button class="upload-tasks-content__submit-btn" type="submit">Submit</button>
</form>
  <div *ngIf="format" class="upload-tasks-content__format">
    <strong>Accepted Format</strong>
    <pre class="upload-tasks-content__format-container">{{format}}</pre>
  </div>

