<section class="admin-home">
  <nav class="admin-home__nav">
    <ul class="admin-home__nav-items">
      <li class="admin-home__nav-item">
        <a routerLink="file" color="primary">Load resource files to storage</a>
      </li>
      <li class="admin-home__nav-item">
        <a routerLink="tasks" color="primary">Load Configuration Files to appl</a>
      </li>
    </ul>
  </nav>
  <section>
    <div [@routeAnimations]="o && o.activatedRouteData
      && o.activatedRouteData['animation']">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </section>
</section>