<form class="upload-tasks-content" [formGroup]="tasksGroup">
  <mat-form-field>
    <mat-label>Group</mat-label>
    <mat-select formControlName="group" required>
      <mat-option *ngFor="let group of groups$ | async" [value]="group">
        {{group.name}}
      </mat-option>
      <mat-error *ngIf="tasksGroup.controls.group.hasError('required')">Please, choose a group</mat-error>
    </mat-select>
    <mat-error *ngIf="tasksGroup.controls.group.hasError('required')">Field must not be empty</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Series</mat-label>
    <mat-select formControlName="series" required>
      <mat-option *ngFor="let series of series$ | async" [value]="series">
        {{series.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="tasksGroup.controls.series.hasError('required')">Field must not be empty</mat-error>
  </mat-form-field>
  <app-upload-file [disabled]="!tasksGroup.controls.series.valid"></app-upload-file>
</form>
