<section class="upload-file">
  <form class="upload-file__form" [formGroup]="uploadFileForm">
    <div class="upload-file__form-group">
      <label for="upload-file__form-label">Select Folder</label>
      <select formControlName="folder" class="upload-file__form-control">
        <option *ngFor="let folder of (folders | async)" [value]="folder">{{folder}}</option>
      </select>
    </div>
    <div class="upload-file__form-group">
      <label for="upload-file__form-label">Select File</label>
        <app-upload-file formControlName="files" (filesAdded)="onFilesAdded($event)"></app-upload-file>
    </div>
    <button (click)="loadFiles()">Load Files</button>
  </form>

</section>
