<section class="bg-gradient-to-r from-blue-100 to-purple-100 p-16">
  <h2 class="mb-6 text-4xl font-semibold text-center">
    Преимущества
  </h2>
  <div class="font-openSans mb-16 text-lg text-center">
    Тренируйтесь всего от 30 минут в день для развития и получения результата
  </div>
  <div class="xl:flex max-w-screen-xl m-auto">
    <div class="xl:mb-0 xl:flex-1 xl:mr-12 p-12 mb-12 bg-white rounded-lg">
      <h4 class="mb-4 text-2xl font-semibold">
        BRAINUP
      </h4>
      <div class="font-openSans">
        Первая бесплатная онлайн программа для взрослых и детей с когнитивными проблемами восприятия речи.  Все наши занятия рассчитаны на возраст детей от 7 лет и старше.
        Уже сейчас программа насчитывает более 20 разных тем по которым вы можете начать заниматься уже сейчас.  А дальше будет еще больше - мы планируем постоянно расширять список наших тем.
      </div>
    </div>
    <div class="xl:mb-0 xl:flex-1 xl:mr-12 p-12 mb-12 bg-white rounded-lg">
      <h4 class="mb-4 text-2xl font-semibold">
        ОНЛАЙН ЗАНЯТИЯ
      </h4>
      <div class="font-openSans">
        Мы хотели чтобы формат обучения был максимально удобным для каждого нашего пользователя.
        Именно поэтому наши уроки доступны в любое время. Вы ожете сами  выбрать в какое время вам заниматься  и сформировать собственное расписание занятий.
      </div>
    </div>
    <div class="flex-1 p-12 bg-white rounded-lg">
      <h4 class="mb-4 text-2xl font-semibold">
        РАЗВИТИЕ
      </h4>
      <div class="font-openSans">
        Занимаясь по нашей программе, вы сможете, развивать слух в различных акустических ситуациях; тренировать слуховую память, прослушивая упражнения столько раз, сколько необходимо именно вам.
        А также, расширить словарный запас в интересной игровой форме и в дальшейшем использовать новые слова в общении с друзьями и знакомыми.
      </div>
    </div>
  </div>
</section>

<section class="p-16">
  <h2 class="mb-6 text-4xl font-semibold text-center">
    Специалисты
  </h2>
  <div class="font-openSans max-w-screen-lg m-auto mb-16 text-lg text-center">
    Обучающая программа BrainUp разработана совместно с лучшими специалистами в области сурдопедагогики из России и Беларуси
  </div>
  <div class="lg:flex max-w-screen-xl m-auto">
    <div
      class="lg:mb-0 lg:flex-1 md:flex lg:mr-12 p-12 mb-12 border-4 border-gray-200 rounded-lg"
    >
      <div class="flex-initial w-24 mr-4">
        <img
          src="/pictures/avatars/avatar 1.png"
          alt="user avatar" class="rounded-full"
        />
      </div>
      <div class="flex-1">
        <div class="mb-4 font-semibold">
          Королева Инна Васильевна
        </div>
        <div class="font-openSans">
          <p class="mb-2">
            Научный руководитель реабилитационного отделения, доктор психологических наук, профессор. Главный научный сотрудник СПб НИИ ЛОР.
          </p>
          <p>
            Ведущий российский эксперт в области реабилитации пациентов с тугоухостью и глухотой, автор многочисленных книг для родителей и специалистов.
          </p>
        </div>
      </div>
    </div>
    <div
      class="lg:mb-0 lg:flex-1 md:flex p-12 mb-12 border-4 border-gray-200 rounded-lg"
    >
      <div class="flex-initial w-24 mr-4">
        <img
          src="/pictures/avatars/avatar 1.png"
          alt="user avatar" class="rounded-full"
        />
      </div>
      <div class="flex-1">
        <div class="mb-4 font-semibold">
          Прошина Любовь Александровна
        </div>
        <div class="font-openSans">
          <p class="mb-2">
            Сурдопедагог, РНПЦ оторинолорнглогии, опыт работы 12 лет.
          </p>
          <p>
            На протяжении всей своей профессиональной деятельности я стараюсь сделать этот путь более простым и понятным, более интересным и увлекательным. Я верю в успех и в то, что наша совместная работа обязательно поможет взрослым и детям услышать мир лучше.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-20 text-center">
    <a
      href="#"
      target="blank"
      rel="noopener" class="hover:text-blue-600 text-blue-light text-lg font-semibold underline capitalize"
    >
      все специалисты
    </a>
  </div>
</section>

<section class="bg-gradient-to-r from-blue-100 to-purple-100 p-16">
  <h2 class="mb-6 text-4xl font-semibold text-center">
    Наша команда
  </h2>
  <div class="font-openSans mb-16 text-lg text-center">
    Мы собрались все вместе, чтобы сделать вашу жизнь проще!
  </div>
  <div
    class="md:flex max-w-screen-xl m-auto flex-wrap {{
      style-namespace "about-us"
    }}"
  >
    <div
      class="team-member md:flex-1 px-6 py-10 text-center bg-white rounded-lg"
    >
      <div>
        <img
          src="/pictures/avatars/avatar 5.png"
          alt="user avatar" class="w-24 m-auto mb-2 rounded-full"
        />
      </div>
      <div class="mb-1 text-lg font-medium">
        Канунников Александр
      </div>
      <div class="font-openSans leading-5">
        Senior Software Engineer,
        <br />
        Epam
      </div>
    </div>
    <div
      class="team-member md:flex-1 px-6 py-10 text-center bg-white rounded-lg"
    >
      <div>
        <img
          src="/pictures/avatars/avatar 1.png"
          alt="user avatar" class="w-24 m-auto mb-2 rounded-full"
        />
      </div>
      <div class="mb-1 text-lg font-medium">
        Мошникова Елена
      </div>
      <div class="font-openSans leading-5">
        Senior Software Engineer,
        <br />
        Epam
      </div>
    </div>
    <div
      class="team-member md:flex-1 px-6 py-10 text-center bg-white rounded-lg"
    >
      <div>
        <img
          src="/pictures/avatars/avatar 1.png"
          alt="user avatar" class="w-24 m-auto mb-2 rounded-full"
        />
      </div>
      <div class="mb-1 text-lg font-medium">
        Чуркина Ирина
      </div>
      <div class="font-openSans leading-5">
        Senior Software Engineer,
        <br />
        Epam
      </div>
    </div>
    <div
      class="team-member md:flex-1 px-6 py-10 text-center bg-white rounded-lg"
    >
      <div>
        <img
          src="/pictures/avatars/avatar 5.png"
          alt="user avatar" class="w-24 m-auto mb-2 rounded-full"
        />
      </div>
      <div class="mb-1 text-lg font-medium">
        Miguel Osorio
      </div>
      <div class="font-openSans leading-5">
        Lead Software Engineer,
        <br />
        Epam
      </div>
    </div>
  </div>
  <div class="mt-20 text-center">
    <a
      href="#"
      target="blank"
      rel="noopener" class="hover:text-blue-600 text-blue-light text-lg font-semibold underline capitalize"
    >
      вся команда
    </a>
  </div>
</section>