<section class="bg-gradient-to-r from-blue-100 to-purple-100 p-16">
  <h2 class="mb-6 text-4xl font-semibold text-center">

    {{t "about_us.advantages"}}
  </h2>
  <div class="font-openSans mb-16 text-lg text-center">
    Тренируйтесь всего от 30 минут в день для развития и получения результата
  </div>
  <div class="xl:flex max-w-screen-xl m-auto">
    <div class="xl:mb-0 xl:flex-1 xl:mr-12 p-12 mb-12 bg-white rounded-lg">
      <h4 class="mb-4 text-2xl font-semibold">
        BRAINUP
      </h4>
      <div class="font-openSans">
        Первая бесплатная онлайн программа для взрослых и детей с когнитивными
        проблемами восприятия речи. Все наши занятия рассчитаны на возраст детей
        от 7 лет и старше. Уже сейчас программа насчитывает более 20 разных тем
        по которым вы можете начать заниматься уже сейчас. А дальше будет еще
        больше - мы планируем постоянно расширять список наших тем.
      </div>
    </div>
    <div class="xl:mb-0 xl:flex-1 xl:mr-12 p-12 mb-12 bg-white rounded-lg">
      <h4 class="mb-4 text-2xl font-semibold">
        ОНЛАЙН ЗАНЯТИЯ
      </h4>
      <div class="font-openSans">
        Мы хотели чтобы формат обучения был максимально удобным для каждого
        нашего пользователя. Именно поэтому наши уроки доступны в любое время.
        Вы ожете сами выбрать в какое время вам заниматься и сформировать
        собственное расписание занятий.
      </div>
    </div>
    <div class="flex-1 p-12 bg-white rounded-lg">
      <h4 class="mb-4 text-2xl font-semibold">
        РАЗВИТИЕ
      </h4>
      <div class="font-openSans">
        Занимаясь по нашей программе, вы сможете, развивать слух в различных
        акустических ситуациях; тренировать слуховую память, прослушивая
        упражнения столько раз, сколько необходимо именно вам. А также,
        расширить словарный запас в интересной игровой форме и в дальшейшем
        использовать новые слова в общении с друзьями и знакомыми.
      </div>
    </div>
  </div>
</section>