<div class="{{styleNamespace}} breadcrumbs-container" ...attributes>
  {{#let (if @group @group @series.group) as |group|}}
    <ul aria-label="Breadcrumbs" class="list-none breadcrumbs">
      <li>
        {{#link-to "groups"}}
          Группы
        {{/link-to}}
      </li>
      <li data-test-group-breadcrumb>
        {{#link-to "group" group}}
          {{group.name}}
        {{/link-to}}
      </li>
      {{#if @series}}
        <li data-test-series-breadcrumb>
          {{#link-to "group.series" group @series}}
            {{@series.name}}
          {{/link-to}}
        </li>
      {{/if}}
    </ul>
  {{/let}}
</div>