{{! template-lint-configure no-invalid-interactive false }}
{{#let (or this.isPlaying @disabled) as |disablePlayButton|}}
  <button
    data-test-play-audio-button
    class="bg-blue-500 text-white font-bold rounded-full
      {{if disablePlayButton "opacity-50" "hover:bg-blue-700"}}"
    onclick={{action this.playAudio}}
    disabled={{disablePlayButton}}
  >
    <FaIcon @icon="redo-alt" />
  </button>
{{/let}}