.task-player__options {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.task-player__option {
  flex-basis: 33.33%;
  padding: 0 10px 10px 0;
  box-sizing: border-box;
}

.task-player__option-button {
  height: 100px;
  width: 100%;
  display: block;
  font-size: 40px;
}

.task-player__results {
  text-align: center;
  font-size: 32px;
  color: rgb(44, 62, 80);
}

.task-player__results__answer {
  white-space: nowrap;
}

.task-player__right-answer-data {
  max-height: 350px;
}

.task-player__image {
  overflow: hidden;
  position: relative;
  animation: fade-out 0.5s;
}

.task-player__image img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  max-width: 200%;
  max-height: 120%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
