@import 'colors.scss';

:host {
  $borderRadius: 8px;

  border-radius: $borderRadius;
  cursor: pointer;

  &.selected {
    background: $brain-gradient;

    .date {
      .month,
      .year {
        color: #ffffff;
      }
    }
  }

  .calendar {
    color: $charcoal-grey-color;
    width: 70px;
    border-radius: $borderRadius;

    .header {
      display: flex;
      justify-content: space-between;
      padding: 6px 14px;
      border-bottom: 1px solid $charcoal-grey-color;

      .dot {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $charcoal-grey-color;
      }
    }

    .content {
      padding: 8px;
      text-align: center;
      font-style: normal;
      font-size: 10px;
      line-height: 16px;
      font-weight: normal;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      b.time {
        font-size: 12px;
      }
    }
  }

  .date {
    padding: 2px 0;

    .month,
    .year {
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 16px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
