/*! purgecss start ignore */

.prosody__options {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.prosody__option {
  display: flex;
}

.prosody__option-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 26px;
  transition: all 0.5s ease;
  font-weight: 600;
  padding: 16px 24px;
  min-height: 64px;
}

@media (min-width: 768px) {
  .prosody__option-button {
    font-size: 24px;
    line-height: 32px;
    padding: 20px 32px;
    min-height: 80px;
  }
}

.prosody__option-button:active {
  font-weight: bold;
}

.prosody__option-button:disabled {
  opacity: 50%;
  cursor: default;
}

.prosody__label {
  display: block;
  text-align: center;
}

/*! purgecss end ignore */
