<div class="mr-2">
  <span
    title={{this.minutes}}
    data-test-timer-container
    class="border-blue-1100 inline-flex items-center justify-center w-12 h-12 bg-white border-2 rounded-full"
  >
    <span
      class="text-blue-1100 text-base font-semibold leading-none text-center"
    >
      {{this.minutes}}
    </span>
  </span>
</div>