<div class="md:mr-4 lg:mr-6 mr-3">
  <span
    title={{this.minutes}}
    data-test-timer-container
    class="flex items-center w-32 justify-between h-10 rounded-full py-2 px-5 text-blue-1100 text-sm font-semibold leading-none text-center
      {{this.getColor}}"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
    >
      <path
        d="M4.37032 19.5264C4.51293 20.06 5.06106 20.3769 5.59462 20.2343C6.12818 20.0917 6.4451 19.5436 6.30249 19.01L4.37032 19.5264ZM3.88138 13.8118L4.85096 13.567L3.88138 13.8118ZM4.38818 10.6025C4.38818 6.76582 7.47728 4.0354 11.4958 4.0354V2.0354C6.55893 2.0354 2.38818 5.4838 2.38818 10.6025H4.38818ZM5.33641 19.2682C6.30249 19.01 6.30249 19.01 6.30248 19.01C6.30247 19.0099 6.30245 19.0099 6.30243 19.0098C6.30239 19.0096 6.30233 19.0094 6.30224 19.0091C6.30207 19.0084 6.30182 19.0075 6.30148 19.0062C6.30081 19.0037 6.29981 19 6.29849 18.995C6.29584 18.9851 6.29191 18.9704 6.28679 18.9513C6.27654 18.9129 6.2615 18.8566 6.24233 18.7849C6.204 18.6415 6.14918 18.4363 6.08321 18.1894C5.95128 17.6956 5.77478 17.0348 5.5965 16.367C5.23792 15.0238 4.87734 13.6715 4.85096 13.567L2.91179 14.0565C2.9426 14.1785 3.30953 15.5544 3.66417 16.8829C3.8425 17.5509 4.01903 18.2117 4.15099 18.7056C4.21696 18.9526 4.27179 19.1578 4.31013 19.3012C4.3293 19.373 4.34435 19.4293 4.3546 19.4676C4.35973 19.4868 4.36366 19.5015 4.3663 19.5114C4.36763 19.5164 4.36863 19.5201 4.3693 19.5227C4.36964 19.5239 4.36989 19.5249 4.37006 19.5255C4.37015 19.5258 4.37021 19.526 4.37025 19.5262C4.37028 19.5263 4.37029 19.5263 4.3703 19.5264C4.37031 19.5264 4.37032 19.5264 5.33641 19.2682ZM4.85096 13.567C4.56797 12.446 4.38818 11.2404 4.38818 10.6025H2.38818C2.38818 11.4747 2.60985 12.8605 2.91179 14.0565L4.85096 13.567Z"
        fill="#503DAD"
      ></path>
      <path
        d="M18.6214 19.5264C18.4788 20.06 17.9306 20.3769 17.3971 20.2343C16.8635 20.0917 16.5466 19.5436 16.6892 19.01L18.6214 19.5264ZM19.1103 13.8118L18.1407 13.567L19.1103 13.8118ZM18.6035 10.6025C18.6035 6.76582 15.5144 4.0354 11.4959 4.0354V2.0354C16.4328 2.0354 20.6035 5.4838 20.6035 10.6025H18.6035ZM17.6553 19.2682C16.6892 19.01 16.6892 19.01 16.6892 19.01C16.6892 19.0099 16.6892 19.0099 16.6893 19.0098C16.6893 19.0096 16.6894 19.0094 16.6895 19.0091C16.6896 19.0084 16.6899 19.0075 16.6902 19.0062C16.6909 19.0037 16.6919 19 16.6932 18.995C16.6959 18.9851 16.6998 18.9704 16.7049 18.9513C16.7152 18.9129 16.7302 18.8566 16.7494 18.7849C16.7877 18.6415 16.8425 18.4363 16.9085 18.1894C17.0404 17.6956 17.2169 17.0348 17.3952 16.367C17.7538 15.0238 18.1144 13.6715 18.1407 13.567L20.0799 14.0565C20.0491 14.1785 19.6822 15.5544 19.3275 16.8829C19.1492 17.5509 18.9727 18.2117 18.8407 18.7056C18.7747 18.9526 18.7199 19.1578 18.6816 19.3012C18.6624 19.373 18.6474 19.4293 18.6371 19.4676C18.632 19.4868 18.628 19.5015 18.6254 19.5114C18.6241 19.5164 18.6231 19.5201 18.6224 19.5227C18.6221 19.5239 18.6218 19.5249 18.6216 19.5255C18.6216 19.5258 18.6215 19.526 18.6214 19.5262C18.6214 19.5263 18.6214 19.5263 18.6214 19.5264C18.6214 19.5264 18.6214 19.5264 17.6553 19.2682ZM18.1407 13.567C18.4237 12.446 18.6035 11.2404 18.6035 10.6025H20.6035C20.6035 11.4747 20.3818 12.8605 20.0799 14.0565L18.1407 13.567Z"
        fill="#503DAD"
      ></path>
      <path
        d="M4.90459 13.9309C4.72192 13.2492 3.90958 12.9661 3.34279 13.3866L2.37174 14.1071C2.0422 14.3516 1.89548 14.7727 2.00168 15.169L3.24852 19.8223C3.35473 20.2187 3.6923 20.5099 4.09995 20.5569L5.30115 20.6953C6.00229 20.7762 6.56425 20.1248 6.38158 19.4431L4.90459 13.9309Z"
        fill="#503DAD"
      ></path>
      <path
        d="M18.089 13.9314C18.2717 13.2496 19.0841 12.9666 19.6509 13.3872L20.6206 14.1069C20.95 14.3515 21.0967 14.7724 20.9905 15.1687L19.7436 19.8223C19.6374 20.2186 19.2999 20.5098 18.8923 20.5568L17.6927 20.6953C16.9915 20.7762 16.4295 20.1249 16.6121 19.4431L18.089 13.9314Z"
        fill="#503DAD"
      ></path>
      <path
        d="M4.64853 16.2237C4.37744 15.212 3.23262 14.7189 2.3112 15.2169C1.65065 15.574 1.32163 16.3378 1.51597 17.0631L1.85223 18.318C2.04657 19.0433 2.71343 19.5403 3.464 19.5192C4.511 19.4899 5.25588 18.4904 4.98479 17.4787L4.64853 16.2237Z"
        fill="#503DAD"
      ></path>
      <path
        d="M18.3432 16.2237C18.6143 15.212 19.7591 14.7189 20.6805 15.2169C21.341 15.574 21.6701 16.3378 21.4757 17.0631L21.1395 18.318C20.9451 19.0433 20.2783 19.5403 19.5277 19.5192C18.4807 19.4899 17.7358 18.4904 18.0069 17.4787L18.3432 16.2237Z"
        fill="#503DAD"
      ></path>
      <path
        d="M8.10101 14.0515C7.86859 13.1841 6.977 12.6694 6.10958 12.9018C5.67588 13.018 5.4185 13.4638 5.53471 13.8975L6.9325 19.1141C7.04871 19.5478 7.49451 19.8052 7.92821 19.689C8.79563 19.4566 9.31039 18.565 9.07796 17.6976L8.10101 14.0515Z"
        fill="#503DAD"
      ></path>
      <path
        d="M14.8948 14.0362C15.125 13.1773 16.0078 12.6675 16.8668 12.8977C17.2962 13.0128 17.5511 13.4542 17.436 13.8837L16.0341 19.1156C15.919 19.5451 15.4776 19.8 15.0481 19.6849C14.1892 19.4547 13.6795 18.5719 13.9096 17.7129L14.8948 14.0362Z"
        fill="#503DAD"
      ></path>
    </svg>
    <span class="text-purple-primary ml-2">
      {{this.minutes}}
    </span>
  </span>
</div>