<div class="mr-2">
<span
  title={{this.minutes}}
  data-test-timer-container
  class="inline-flex items-center justify-center w-10 h-10 bg-blue-800 rounded-full"
>
  <span class="text-sm leading-none text-center text-red-500">
    {{this.minutes}}<br>{{t 'statistics.time_min'}}
  </span>
</span>
</div>