/*! purgecss start ignore */
& h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #503dad;  
}
& .info-dialog-content {
  margin-bottom: 10px;
}
& .info-dialog-content img.statistics-info-dialog {
  width: 100%;
}
& .info-dialog-content p {
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}
& .info-dialog-content p.title {
  margin-bottom: 24px;
  font-size: 18px;
  text-align: left;
}
& .info-dialog-content p.text {
  font-size: 14px;
  text-align: justify;
  padding: 16px;
  background-color: #f6f5fc;
  border-radius: 8px;
}
& .info-dialog-actions {
  display: flex;
  justify-content: center;
}
& .info-dialog-actions button {
  border: 1px solid #7979f2;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px #5947b240;
  border-radius: 16px;
  background: linear-gradient(90deg, #7979f2 0%, #a179f2 100%);
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;  
  padding: 10px 15px;
  font-weight: 500;
  outline: none;
}
/*! purgecss end ignore */