/*! purgecss start ignore */

& {
  padding: 20px 0;
  display: grid;
  grid-gap: 20px 0;
  grid-template-columns: 20px 1fr 20px;
  align-items: stretch;
}

& > * {
  grid-column: 2 / -2;
}

& > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-template-columns: 10px;
  grid-template-rows: minmax(80px, 1fr);
  grid-auto-flow: column;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * 20px);
  margin-bottom: calc(-0.25 * 20px);
}

.hs:before,
.hs:after {
  content: '';
  width: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.hs > li,
.item {
  scroll-snap-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.hs > li:first-child {
  padding-left: 0;
}

.no-scrollbar {
  scrollbar-width: none;
  overflow-y: hidden;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/*! purgecss end ignore */
