/*! purgecss start ignore */

.active-group {
  background-color: #fbedfe;
}
.not-active-group {
  background-color: #daf0fc;
}


/*! purgecss end ignore */

.group-item {
  min-height: 230px;
  width: 100%;
  outline-color: #3F51B5;
  outline-width: medium;
}

.group-name {
  color: #001274;
}

.group-image {
  width: 210px;
  height: 140px;
  background-color: aquamarine;
}
