<div ...attributes class={{style-namespace "group-navigation"}}>
  <ul class="hs full no-scrollbar sticky">
    {{#each (sort-by "id" @group.series) as |series|}}
      <li class="item">
        <Ui::TabButton data-test-active-link={{series.name}}
          class="pl-3 pr-3"
          @route="group.series"
          @models={{array series.id}}
          @title={{series.name}} />
      </li>
    {{/each}}
  </ul>
</div>