<div ...attributes>
  <ul class="group-nav-list">
    {{#each (sort-by "id" @group.series) as |series|}}
      <li class="px-4 py-4 pt-6 pb-8 mb-4 bg-blue-200 rounded shadow-md">
        <LinkTo
          data-test-active-link={{series.name}}
          @activeClass="active font-bold"
          @route="group.series"
          @model={{series}}
        >
          {{series.name}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</div>