<h1>
  {{@group.name}}
</h1>
<ol>
  {{#each @group.series as |series|}}
    <li>
      {{#link-to "series" series disabled=(not series.canInteract)}}
        {{series.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ol>