<ul class="group-nav-list mt-4">
  {{#each @group.series as |series|}}
    <li class="shadow mr-3">
      {{#link-to "series" series}}
        {{series.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>