<div
  class="title"
  [innerHTML]="
    'Admin.Modules.Users.Modules.Statistics.Components.MonthTimeTrack.Title [year]' | translate: { year: selectedMonth().year() }
  "
></div>

<div class="content">
  <button mat-button class="prev" (click)="loadPrevYear()">
    <mat-icon svgIcon="left-arrow"></mat-icon>
  </button>

  <div class="month-time-track-items-wrap">
    @if (isLoading()) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else {
      @if (hasValidTrackItem()) {
        @for (data of monthTimeTrackItemsData; track data) {
          <app-month-time-track-item
            [data]="data"
            [isSelected]="isSelectedMonth(data)"
            (click)="selectMonth(data)"
          ></app-month-time-track-item>
        }
      } @else {
        <div class="empty-data">
          {{ 'Admin.Modules.Users.Modules.Statistics.Components.MonthTimeTrack.EmptyData' | translate }}
        </div>
      }
    }
  </div>

  <button mat-button [disabled]="!isAllowNextYear()" class="next" (click)="loadNextYear()">
    <mat-icon svgIcon="right-arrow"></mat-icon>
  </button>
</div>


