@import 'colors.scss';
@import 'variables.scss';

:host {
  display: flex;
  justify-content: center;
}

.select {
  background: $hardly-grey-color;
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(89, 71, 178, 0.12);
  color: $dark-violet-color;
  font-family: Montserrat;
  font-size: $font-size-14;
  font-style: normal;
  font-weight: 600;
  height: 56px;
  line-height: 17px;
  margin-bottom: 20px;
  margin-right: 38px;
  text-transform: uppercase;
  width: 355px;

  &:last-child {
    margin-right: 0;
  }

  &::ng-deep {
    .mat-form-field-flex {
      background: $hardly-grey-color;
      padding-left: $padding-24;
      padding-right: $padding-24;
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-select-value {
      color: $dark-violet-color;
      font-family: Montserrat;
      font-size: $font-size-14;
      font-style: normal;
      font-weight: 600;
      line-height: 17px;
    }
  }
}
