name: Frontend Composition Analysis

on:
  pull_request:
    paths:
      - 'Dockerfile_frontend'
      - 'frontend/**'
      - '.github/workflows/fe-composition-analysis.yml'
    branches:
      - master
  push:
    paths:
      - 'Dockerfile_frontend'
      - 'frontend/**'
      - '.github/workflows/fe-composition-analysis.yml'
    branches:
      - master

jobs:
  npm_audit_scan:
    name: npm audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: rwjblue/setup-volta@v1
      - uses: H1D/actions-ember-testing@8ca8da615c2db5889b7fbd3834e4093706754435
      - name: Install dependencies via yarn
        working-directory: ./frontend
        run: yarn install
      - name: yarn audit
        working-directory: ./frontend
        run: yarn audit
      - name: install dependencies via npm
        working-directory: ./frontend
        run: npm install
      - name: npm audit
        working-directory: ./frontend
        run: npm audit