name: Frontend tests
on:
  pull_request:
    paths:
    - 'frontend/**'
    - '.github/workflows/frontend-test.yml'

jobs: 
  test: 
    name: Frontend tests
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v1
      - uses: mydea/actions-ember-testing@v1
      - name: Install dependencies
        working-directory: ./frontend
        run: yarn install
      - name: Lint *.js files
        working-directory: ./frontend
        run: yarn lint:js
      - name: Lint *.hbs files
        working-directory: ./frontend
        run: yarn lint:hbs
      - name: Run tests
        working-directory: ./frontend
        run: yarn test

  coverage:
    name: Test coverage changes
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v1
      - uses: mydea/actions-ember-testing@v1
      - name: Install dependencies
        working-directory: ./frontend
        run: yarn install
      - uses: H1D/ember-cli-code-coverage-action@2ca066d
        with:
          working-directory: ./frontend
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          coverage-file: "coverage/coverage-summary.json"