name: Frontend tests

on:
  pull_request:
    paths:
    - 'frontend/**'
    - '.github/workflows/frontend-test.yml'

jobs: 
  test: 
    name: Frontend tests
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v1
      - uses: mydea/actions-ember-testing@v1
      - name: Install dependencies
        working-directory: ./frontend
        run: yarn install
      - name: Lint *.js files
        working-directory: ./frontend
        run: yarn lint:js
      - name: Lint *.hbs files
        working-directory: ./frontend
        run: yarn lint:hbs
      - name: Run tests
        working-directory: ./frontend
        run: yarn test

  coverage:
    name: Test coverage changes
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v1
      - uses: mydea/actions-ember-testing@v1
      - name: Install dependencies
        working-directory: ./frontend
        run: yarn install
      - uses: H1D/ember-cli-code-coverage-action@25d53d8882e3c8d807c8b28786875b25c83ad2d1
        with:
          working-directory: ./frontend
          test-command: "yarn test:cover"
          coverage-file: "./frontend/coverage/coverage-summary.json"
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          message: "Frontend test coverage: {testCoverage}%"
