name: Java CI Unit Tests

on:
  push:
    paths-ignore:
    - 'frontend/**'
    - 'frontend-angular/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Unit Tests
      run: ./gradlew test
