name: SonarCloud
on:
  pull_request:
    paths-ignore:
      - 'frontend/**'
      - 'frontend-angular/**'
    branches:
      - master
  push:
    paths-ignore:
      - 'frontend/**'
      - 'frontend-angular/**'
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Analyze with SonarCloud
        run: gradle build jacocoTestReport sonarqube -Dsonar.login=$SONAR_TOKEN_SIESTA
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_SIESTA }}