.answer-correctness-widget {
  animation: fade-out 0.5s;
  min-width: 350px;
  min-height: 350px;
  max-height: 100%;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
