/*! purgecss start ignore */

& {
  background-color: #edf8fe;
  border-radius: 10px;
  padding-bottom: 1.6rem;
}

svg {
  margin-left: calc(50% - 170px);
}

.answer-correctness-widget {
  animation: fade-out 0.5s;
  min-width: 350px;
  min-height: 350px;
  max-height: 100%;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*! purgecss end ignore */
