<div class="content">
  @if (isLoadingWeekTimeTrackData) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  @if (!isLoadingWeekTimeTrackData) {
    <div class="table-content">
      <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
    </div>
  }
</div>

<!-- #region Templates -->
<ng-template #dataTemplate>
  <table mat-table [dataSource]="dataSource" [trackBy]="">
    <ng-container matColumnDef="seriesName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{
        'Admin.Modules.Users.Modules.Statistics.Components.DailyTimeTable.ColumnsName.SeriesName'
        | translate
        }}
      </th>
      <td class="name-column" mat-cell *matCellDef="let statistic">
        <div class="item">{{ statistic.seriesName }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="allDoneExercises">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{
        'Admin.Modules.Users.Modules.Statistics.Components.DailyTimeTable.ColumnsName.AllDoneExercises'
        | translate
        }}
      </th>
      <td class="name-column" mat-cell *matCellDef="let statistic">
        <div class="item">{{ statistic.allDoneExercises }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="uniqueDoneExercises">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{
        'Admin.Modules.Users.Modules.Statistics.Components.DailyTimeTable.ColumnsName.UniqueDoneExercises'
        | translate
        }}
      </th>
      <td class="name-column" mat-cell *matCellDef="let statistic">
        <div class="item">{{ statistic.uniqueDoneExercises }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="repeatedExercises">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{
        'Admin.Modules.Users.Modules.Statistics.Components.DailyTimeTable.ColumnsName.RepeatedExercises'
        | translate
        }}
      </th>
      <td class="name-column" mat-cell *matCellDef="let statistic">
        <div class="item">{{ statistic.repeatedExercises }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="doneExercisesSuccessfullyFromFirstTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{
        'Admin.Modules.Users.Modules.Statistics.Components.DailyTimeTable.ColumnsName.DoneExercisesSuccessfullyFromFirstTime'
        | translate
        }}
      </th>
      <td class="name-column" mat-cell *matCellDef="let statistic">
        <div class="item">{{ statistic.doneExercisesSuccessfullyFromFirstTime }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="listenWordsCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{
        'Admin.Modules.Users.Modules.Statistics.Components.DailyTimeTable.ColumnsName.ListenWordsCount'
        | translate
        }}
      </th>
      <td class="name-column" mat-cell *matCellDef="let statistic">
        <div class="item">{{ statistic.listenWordsCount }}</div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      matRipple
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</ng-template>

<!-- #endregion -->
